/*#tab-home-bg {
    will-change: scroll-position;
    overflow: auto;
    box-sizing: border-box;
    height: auto;
    position: relative;
    z-index: 1;
    padding-bottom: calc(var(--f7-page-toolbar-bottom-offset, 0px) + var(--f7-safe-area-bottom) + var(--f7-page-content-extra-padding-bottom, 0px));
    overflow-x: hidden;
    height: auto;
}*/
.header-wrapper .header-inner{
	max-width: 500px;
	height: 350px;
	margin: auto;
	position: relative;
  }
  .header-wrapper .header-inner .image-header{
	width: 100%;
	height: 100%;
	margin: auto;
  }
  .header-wrapper .box-wrapper{
	max-width: 500px;
	height: 100px;
	margin: auto;
	position: relative;
	top: -45px;
  }
  .header-wrapper .box-wrapper .box-inner{
	height: 85%;
	background-color: #ffffff;
	border-radius: 14px;
	margin: 0 20px;
	padding-top: 8px;
  }
  .header-wrapper .box-wrapper .box-inner h3{
	text-align: center;
	color: #ff9d00;
	font-weight: bolder;
	margin-top: 8px;
	font-size: 18px;
  }
  
  .header-wrapper .gift-wrapper{
	max-width: 500px;
	margin: auto;
	position: relative;
  }
  .header-wrapper .gift-wrapper .text-inner{
	vertical-align: top;
	display: inline-block;
	width: 55%;
	padding-right: 12px;
  }
  .header-wrapper .gift-wrapper .gift-inner{
	display: inline-block;
	width: 40%;
  }
  .header-wrapper .gift-wrapper .gift-inner .image-gift{
	width: 150px;
	margin: auto;
  }
  .header-wrapper .btn-wrapper{
	max-width: 500px;
	height: 100px;
	margin: auto;
	text-align: center;
  }



.desc-wrapper .desc-inner.extra{
	padding-bottom: 5px;
	padding-top: 13px;
	height: auto;
}
.offer-message{
	width: 100%;
	height: 34px;
	background:#3b933b;
}
.offer-message span{
	color:white;
	margin-top: 7px;
	position: absolute;
	font-size: 13px;

}
.offer-message img{
	width: 28px;
	height: 28px;
	float: right;
	margin:3px 10px;
}
.orderdetails.extra{
	padding:0;
}
.orderdetails.extra i{
	color: #807979;
	font-size: 26px;
}
.orderdetails.extra .date i{
	float: left;
	margin-left: 5px;
}
.orderdetails.extra .time i{
	float: right;
	margin-right: 5px;
}
.orderdetails.extra .row .date span{
	font-size: 13px;
	margin-right: 2px;
	float: right;
	margin-top: 5px;
}
.orderdetails.extra .row .time span{
	font-size: 13px;
	margin-left: 2px;
	float: left;
	margin-top: 5px;
}
.orderdetails.extra .row .center{
	text-align: center;
}
.orderdetails.extra .day-select{
	width: 100%;
	height: auto;
	text-align: center;
	border: 1px solid #dfd3d3;
	border-radius: 4px;
}
.orderdetails.extra .day-select select{
	width:200px;
}
.orderdetails.extra .day-select span{
	font-size: 13px;
	color: #000;
}
.orderdetails.extra .day-select i{
	font-size: 25px;
	color: #444;
	margin-right: 5px;
}
.orderdetails.extra.day-select .row .select{
	text-align: center;
}
.desc-wrapper .desc-inner.extra-img{
	padding:3px 2px 3px 2px;
	height: auto;
}
.select .container-img-div{
	width:80px;
	height: 100px;
	background:#4c4cf9;
	border-radius: 4px;
	margin: 0 auto;
}
.select .container-img-div img{
	width: 90%;
	height:92%;
	margin:auto;
	padding-top: 7px;
}
.orderdetails .div-button{
	width: 80%;
	height: 40px;
	background:#0e4f46;
	border-radius:0px 4px 4px 0px;
	margin: 10px auto;
	display: inline-block;
}
.orderdetails .div-button input[type="text"]{
	width:95%;
	height:34px;
	float:right;
	margin:3px;
	border-radius:3px;
	font-size: 11px;
}
.orderdetails .div-button-left{
	width: 20%;
	height: 40px;
	background:#0e4f46;
	border-radius:4px 0px 0px 4px;
	margin: 10px auto;
	display: inline-block;
	float: left;
	text-align: center;
	color: white;
	min-width: 35px;
}
.orderdetails .div-button-left p{
	margin:auto;
}
.right-alarm-div{
	float: right;
	background:#d97314;
	width: 26px;
	height: auto;
	min-height: 80px;
	display: inline-block;
	font-size: 17px;
	color: #000;
}
.desc-inner.extra-alarm .topdiv{
	margin-top: 15px;
	margin-right: 5px;
	color: #000;
	font-size: 11px;
	padding-right: 0;
	position: absolute;
}
.desc-inner.extra-alarm .bottomdiv{
	margin-right: 5px;
	color: #000;
	font-size: 11px;
	padding-right: 0;
	position: absolute;
	margin-top: 45px;
}
.right-alarm-div i{
	margin-top: 33px;
	margin-right:5px;
	position: absolute;
	color: white;
}
.desc-wrapper .desc-inner.extra-alarm{
	padding: 0;
	min-height: 80px;
	height: auto;
}
.desc-inner.extra .simple-input{
	display:none;
}
.desc-inner.extra label{
	display: contents !important;
}
.desc-inner.extra  .simple-input:checked + label .simpletime{
	color:rgb(16, 58, 172) !important;
}
.desc-inner.extra  .simple-input:checked + label .customtime{
	color:rgb(16, 58, 172) !important;
}






a:hover{
	text-decoration: none !important;
	color: yellow !important;
}
.row.first-info{
	width: 100%;
	height: auto;
	padding:0;
	margin:0;
	
}

.row.first-info .box{
	border: 1px solid white;
	margin:0;
	padding:0;
	border-radius: 4px;
}
.row.first-info .box img{
	width:60px;
	height: auto;
	float: right;
	margin:5px 0 5px 1px;
}

.row.first-info .box h5{
	display: block;
	margin-right: 40px;
	color:#444;
	font-size: 16px;
	margin-top: 16px;
}
.row.first-info .box h6{
	display: block;
	margin-right: 40px;
	color:#6e6c66;
	font-size: 14px;
}

/*////////////////////////////////*/
.row.professional-inf{
	margin:0;
	padding:0;
}
.row.professional-inf .expertise-info{
	border: 1px solid white;
	padding: 0;
}
.row.professional-inf .check-expertise{
	border: 1px solid white;
	padding:0;
}
.expertise-info .expertise-img-div{
	width: 60px;
	height: 55px;
	background: #648ed1;
	display: inline-block;
}
.expertise-info .expertise-img-div img{
	width: 65%;
	height: 50px;
	margin:6px auto;
}
.row.professional-inf .expertise-info p{
	color:#46484d;
	position: absolute;
	margin-top: 8px;
	font-size: 12px;
}
.check-expertise .inner-check-expertise{
	width: 20px;
	height: 70px;
	float: left;
}
.inner-check-expertise input[type="checkbox"]{
	float: left;
	margin-top: 26px;
}
.center-title{
	width: 100%;
	height: auto;
	text-align: center;
}
.center-title p{
	color: #46484d;
	font-weight: bold;
	padding-right: 0;
	padding-left: 0;
}
.row .input-time{
	padding:0 0 8px 0;
	margin:0;
}
.input-time .div-input-time{
	width: 65%;
	height: 35px;
	padding:0;
	margin:0;
	display:inline-block;
	position: relative;
}
.input-time .div-input-time-year{
	width: 65%;
	height: 35px;
	float: left;
	padding:0;
	margin:0;
	display:inline-block;
}
.input-time .year-time-label{
	display: inline-block;
	width: 40px;
	height: 35px;
	margin:0;
	padding:0;
	float: left;
	background: #648ed1;
	position: relative;
}
.div-input-time-year input[type="text"]{
	width: 100%;
	height: 100%;
	border: none;
	background: #f2f3f5;
	border-radius: 0;
	color:#444;
	margin-top: 0;
	padding-right: 10px;
	padding-left: 4px;
	font-size: 12px;
}
.input-time .time-label{
	display: inline-block;
	width: 40px;
	height: 35px;
	margin:0;
	padding:0;
	float: left;
	background: #648ed1;
	position: absolute;
}
.time-label p{
	position: absolute;
	padding:6px;
	margin-right: 5px;
}
.year-time-label p{
	position: absolute;
	padding:6px;
	margin-right: 5px;
}
.row .year-input-time{
	margin-right: 20px;

}
.div-input-time input[type="text"]{
	width: 100%;
	height: 100%;
	border: none;
	float: right;
	background: #f2f3f5;
	border-radius: 0;
	color:#444;
	margin-top: 0;
	padding-right: 10px;
	padding-left: 4px;
	font-size: 12px;
}
.input-about{
	width: 100%;
	height: auto;
	text-align: center;
}
.input-about textarea{
	width: 80%;
	height: 100px;
	background:#e9ecf2;
	border-radius: 4px;
	font-size: 12px;
	color: #444;
	border: 1px solid #cacccf;
	padding:5px;
	margin-bottom: 15px;
}
/*/////////////////////////////////*/

.bigger-img-top{
	width: 100%;
	height: 100px;
	position: relative;
	z-index: -1;

}
.row.top-turnover{
	width: 100%;
	height: 50px;
	margin-right: 0;
	position: absolute;
	top: 0;
}
.row.top-turnover .middle-txt{
	text-align: center;
	height: 100%;
}
.row.top-turnover .middle-txt p{
	color: white;
	font-size: 13px;
	margin-top: 6px;
}
.row.top-turnover .right-img img{
	width: 25px;
	height: auto;
	margin: 13px 10px;
	float: right;
}
.bigger-img-top img{
	width: 100%;
	height: 100%;
	display: inline-block;
	top: 0;
	position: absolute;
}
.row.btm-div{
	width: 100%;
	height: 50px;
	bottom: 0;
	position: absolute;
	margin:0;
	padding:0;
}
.row.btm-div .btm-col{
	text-align: center;
	padding:0;
}
.row.btm-div .btm-col p{
	font-size: 13px;
	font-weight: bold;
	margin-top: 9px;
}

.btm-col .right-linear-div{
	width: 40%;
	height: 2px;
	background:#9c1905;
	margin:-1px auto;
}
.btm-col .left-linear-div{
	width: 40%;
	height: 2px;
	background:#9c1905;
	margin:-1px auto;
	display: none;
}
.btm-col .middle-linear-div{
	width: 40%;
	height: 2px;
	background:#9c1905;
	margin:-1px auto;
	display: none;
}
#income-show-tab{
	display: none;
}
#deficits-show-tab{
	display: none;
}
/*////////////////////////////////*/
.row .right-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row .middle-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row .left-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row .right-archive p{
	color: #706d6d;
	font-size: 12px;
	font-weight: bold;
	float: right;
	display: inline-block;
}
.row .right-archive i{
	font-size: 15px;
	color: #706d6d;
	margin-right: 4px;
}
.row .middle-archive{
	text-align: center;
}
.row .middle-archive p{
	color: #706d6d;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
.row .middle-archive i{
	font-size: 15px;
	color: #706d6d;
	margin-right: 4px;
}
.row .left-archive{
	text-align: left;
}
.row .left-archive p{
	color: #706d6d;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding-left: 0;
}
.row .left-archive i{
	font-size: 15px;
	color: #706d6d;
	margin-right: 2px;
}
.explain-container{
	margin:0;
	padding:0;
	text-align: right;	
}
.explain-container p{
	color:#706d6d;
	font-size: 12px;	
}
.green-div{
	text-align: center;
	width: 98%;
	height: auto;
	background:#adedb2;
	margin:0 6px 8px 6px;
	box-shadow: 0px 1px 6px 1px #8dc7ac;
}
.green-div .green-center{
	color:#47b564 !important;
	font-size: 16px;
	font-weight: bold;
	padding:4px;
}



.row.green .right-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row.green .middle-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row.green .left-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row.green .right-archive p{
	color: #47b564;
	font-size: 12px;
	font-weight: bold;
	float: right;
	display: inline-block;
}
.row.green .right-archive i{
	font-size: 15px;
	color: #47b564;
	margin-right: 4px;
}
.row.green .middle-archive{
	text-align: center;
}
.row.green .middle-archive p{
	color: #47b564;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
.row.green .middle-archive i{
	font-size: 15px;
	color: #47b564;
	margin-right: 4px;
}
.row.green  .left-archive{
	text-align: left;
}
.row.green .left-archive p{
	color: #47b564;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding-left: 0;
}
.row.green .left-archive i{
	font-size: 15px;
	color: #47b564;
	margin-right: 2px;
}




.row.green-state{
	margin-right:0;
}
.row.green-state .right-archive{
	/*background:red;*/
	padding:0;
	margin:0;
	text-align: right;
}
.row.green-state .middle-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row.green-state .left-archive{
	/*background:red;*/
	padding:0;
	margin:0;
}
.row.green-state .right-archive p{
	color: #706d6d;
	font-size: 12px;
	font-weight: bold;
	float: right;
	display: inline-block;
	margin-left:0;
	padding-left: 0;

}

.row.green-state .middle-archive{
	text-align: center;
}

.row.green-state .middle-archive p{
	color: #706d6d;
	font-size: 14px;
	font-weight: 200;
	padding-left:3px;
	display: inline-block;
}
.row.green-state .middle-archive i{
	color:#47b564;
	font-size: 16px;
	margin-top: 12px;
	position: absolute;
}
.row.green-state .left-archive i{
	color:#f1f7f2;
	font-size: 16px;
	margin-top: 12px;
	position: absolute;
}

.row.green-state  .left-archive{
	text-align: left;
	padding-left:12px;
}
.row.green-state .left-archive p{
	color: #706d6d;
	font-size: 14px;
	font-weight: 200;
	display: inline-block;
	padding-left: 0;
	margin-left: 3px;
}

/*/////////////////////////////////*/
.wrapper-activity{
	width: 100%;
	height:auto;
	position: relative;
}
.inner-activity{
	max-width: 800px;
	height: auto;
	margin:0 auto;
}
.order-products-numbers{
	width:100%;
	height: 100px;
	background:#f57b11;
	text-align: center;
	position: relative;
	margin-top: 8px;
	border-radius: 4px;
}
.order-products-numbers p{
	margin-top: 7px;
}

.products-div-container{
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;
}
.products-div-container img{
	width: 100%;
	height: auto;
	margin:0 auto;
}
.products-div-container p{
	color: #575c59;
	font-size: 13px;
	padding:0;
	font-weight:bold;
}
.col-products-content{
	border-radius: 50%;
	width: 150px;
	height:150px;
	overflow: hidden;
	box-shadow: 0px 1px 1px 1px #767a77;
	display: inline-block;
	float: right;
	margin-top: 10px;
}
.col-products-content2{
	width: 50px;
	height:50px;
	overflow: hidden;
}
.col-products-content2 img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
}

.bfinput{
	width: 100% !important;
	height: calc(1.5em + .75rem + 2px) !important;
	margin: 0 !important;
	border: 1px solid #ced4da !important;
	border-radius: 4px !important;
}


.mybtn.pro {
	width: 90px !important;
	margin-top: 0px;
}
.navbar-wrapper{
	height: 60px !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	margin-bottom: 0px;
}
.se-pre-con {
	background-color:rgba(255, 255, 255, 0.801) !important;
}
.my-badge{
	color: #fff;
	background: red;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	top: -16px;
	right: -35px;
	z-index: 12;
	text-align: center;
	font-size: 11px;
	font-family: IRANSans !important;
	padding: 2px;
}
.catinput:checked + label {
background: rgb(1, 181, 184);
color: #fff;
}
.catinput{
	display: none;
}
.catlbl{
padding: 3px 6px;
border-radius: 15px;
border: 1px solid rgb(1, 181, 184);
background: #fff;
color: rgb(1, 181, 184);
cursor: pointer;
margin: 0 5px;
font-size: 12px;
}




.products-content p{
	color: black;
	font-size: 12px;
	padding-bottom: 0;
	display: block;
	padding-right: 0
}
.products-content.left-content{
	position: absolute;
	left: 0;
}
.col-products-content img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.left-products-icon{
	margin-top: 7px;
	width: 50px;
	height: 30px;
	background:#27e3d3;
	float: left;
	border-radius: 0 8px 8px 0;
	text-align: center;
}
.products-div-container .right-btn{
	width: 55px;
	height: 27px;
	text-align: center;
	background:#40db7b;
	border-radius: 2px;
	margin:10px 16px;
	display: inline-block;
	float: right;
}
.products-div-container .right-btn p{
	font-size: 12px;
	color: white;
	margin-top: 3px;
}
.products-div-container .left-txt{
	display: inline-block;
	font-size: 12px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.left-products-icon i{
	margin-top: 8px;
	color: white;
}
.enter-phone-number-message .input-phone-number{
	margin-top: 2px;
}
.enter-phone-number-message .input-phone-number input[type="text"]{
	width: 20%;
	min-width: 100px;
	text-align: center;
	margin:10px auto;
	padding: 10px 5px;
	min-width: 140px;
}
.div-ok-btn .ok-btn{
	text-align: center;
	width: 80px;
	height: auto;
	font-size: 14px;
	margin:0 auto;
	border-radius: 20px;
	color: white;
	border: none;
	background: #3dd9eb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(360deg, #5fe5f5, #5fe5f5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(360deg, #66dfed, #0cbacf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.div-ok-btn{
	margin :auto;
	width: 100%;
	height: 35px;
	margin-top: 10px;
	text-align: center;
}
@media(max-width: 442px){
	.products-div-container p{
		font-size: 11px;
	}
	.products-content p{
		font-size: 10px;
		padding-left: 0;
	}
	.col-products-content{
		margin-top: 5px;
		/*margin-bottom: 2px;*/
	}
	.products-div-container .left-txt{
		margin-top: 20px;
	}
	.enter-phone-number-message .input-phone-number input[type="text"]{
		/*width: 50%;*/
	}
}








/*//////////////////////////////////////////////////////////////////////////*/
@media (max-width: 442px) {
	.row.btm-div .btm-col p{
		font-size: 12px;
		padding-right: 0;
		margin-top: 8px;
		padding-bottom: 0;
	}
	.order-products-numbers p{
		font-size: 12px;
	}
	.order-products-numbers-left{
		font-size: 12px
	}
	.order-products-numbers .bottom-div p{
		font-size: 12px;
	}
	.rating-div p{
		font-size: 12px;
	}
	.rating-div i{
		margin-top: 4px !important;
	}
	.activity-message p{
		font-size: 12px;
	}
}
.order-products-numbers .bottom-div{
	background:white;
	height:50px;
	width: 100%;
	bottom: 0;
	position: absolute;
	border: 2px solid #f57b11;
}
.order-products-numbers .bottom-div p{
	color:#636260;
	font-size: 16px;
	font-weight: bold;
}
.order-products-numbers-left{
	width:100%;
	height: 100px;
	background:#512ed1;
	text-align: center;
	position: relative;
	margin-top: 8px;
	border-radius: 4px;
	float: left;
}
.order-products-numbers-left p{
	margin-top: 7px;
}
.order-products-numbers-left .bottom-div{
	background:white;
	height:50px;
	width: 100%;
	bottom: 0;
	position: absolute;
	border: 2px solid #512ed1;
}
.order-products-numbers-left .bottom-div p{
	color:#636260;
	font-size: 16px;
	font-weight: bold;
}
.rating-div{
	width: 100%;
	height: 100px;
	position: relative;
	background: #f04832;
	text-align: center;
	border-radius: 5px;
}
.rating-div p{
	margin-top: 9px;
}
.bottom-div i{
	padding-top: 6px;
}
.rating-div .bottom-div{
	height: 50px;
	position: absolute;
	bottom: 0;
	background:white;
	border: 2px solid #f04832;
	width: 100%;
}
.rating-div .bottom-div i{
	color: #f7ef48;
	font-size: 22px;
	margin-top: 6px;
}
.activity-message{
	background:#229bf2;
	text-align: center;
	border-radius: 5px;
	height: 42px;
}
.activity-message p{
	margin-top: 4px;
}



.img-top{
	width: 100%;
	height: 60px;
	z-index: -1;
	display: block;
	position: relative;
}
.img-top img{
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	}

.row.top{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-right: 0;
}
/*.row.t-profile{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-right: 0;
}*/
.left-img .rgt{
	display: inline-block;
	width: 25px;
	float: left;
	height: auto;
	margin: 17px 5px 0 5px;
}
.left-img{
	left: 10px;
}
.on-left-img{
	left: 0;
}
.left-img .lft{
	float: left;
	display: inline-block;
	width: 25px;
	height: auto;
	margin: 17px 5px 0 0;
	padding: 0;
}
.left-img .recycle-div{
	background: #3877ab;
	width: 60px;
	height: 50px;
	text-align: center;
	float: left;
	opacity: .8;
	margin-top: 4px;
	border-radius: 0px 12px 0px 12px;
}
.recycle-div .fas.fa-recycle{
	font-size: 18px;
	color: white;
	opacity: 1;
	margin-top: 5px;
}
.left-img .recycle-div p{
	font-size: 8px;
	color: white;
	padding-top: 0;
}
.right-img img{
	width: 25px;
	height: auto;
	margin: 13px 10px;
	float: right;
	z-index: 99;
}
.row.top .middle-txt{
	font-size: 13px;
	color: white;
	text-align: center;
	margin-top: 20px;
	padding: 0;
}
.body .ic-time{
	width: 20px;
	height: auto;
	display: inline-block;
}
.body .ic-date{
	width: 20px;
	height: auto;
	display: inline-block;
}
.customer-propertes{
	width: 100%;
	height: auto;
}
.top.row .search-archive{
	height: 38px;
	margin: 0 auto;
	padding: 0;
	margin: 10px auto;
	background: white;
	border-radius: 20px;
}
.search-archive input[type="text"]{
	width: 78%;
	height: 100%;
	float: right;
	margin: 0px auto;
	font-size: 12px;
	color: #565756;
	border-radius: 0px 20px 20px 0;
	box-shadow: none;
}
.search-img-div{
	float: left;
	height: 100%;
	background: white;
	border-radius: 20px;
}
.search-img-div .fas.fa-search{
	font-size: 22px;
	color: #373131;;
	margin: 10px;
}
.serach-icon-awesome{
	height: 100%;
	width: 50%;
}
.serach-icon-awesome .fa.fa-search{
	color: white;
	font-size: 20px;
	margin: 22px 10px;
}
.modal-container { 	
  display: none;
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-width{
	left: 20px;
	top: 48px;
	height: auto;
	z-index: 50;
	text-align: center;
	background: #a3a0a0;

}
.modal-content{
	position: absolute;
	max-width: 220px;
	height: auto;
	z-index: 50;
	left: 26px;
	top: 51px;
	text-align: center;
	background: #a3a0a0;
}
.modal-content .title{
	background: #f54842;
	height: 30px;
	width: 100%;
	text-align: center;
}
.modal-content .title h6{
	color: white;
	margin-top: 6px;
}
.title a{
	color: white;
}
.modal-content ul{
	width: 100%;
	height: 100%;
	background: #a3a0a0;
	list-style-type: none;
	padding: 0;
}
.modal-content ul li{
	margin: 5px auto;
	padding-bottom: 4px;
}
.modal-content ul li a{
	color: white;
	font-size: 12px;
}





/*good order page*/


.card-wrapper{
  padding: 0;
  position: relative;
}
.card-wrapper .visacard{
  height: 80px;
  background: orange;
  color: #fff;
  display: block;
  width: 20%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 2%;
}
.card-wrapper .cardtext{
  display: block;
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2%;
  padding-left: 2%;
}
.order-img{
border: 2px dashed #ccc;
border-radius: 15px;
margin: 12px 0;
padding: 12px;
}
.order-img input[type="file"]{
    display: none;
}
.order-img label{
    display: inline-block;
    width: 32%;
}
.order-img label img{
    display: inline-block;
    width: 100%;
}

/* //modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.order-img{
    border: 2px dashed #ccc;
    border-radius: 15px;
    margin: 12px 0;
    padding: 12px;
 }
 .order-img input[type="file"]{
     display: none;
 }
 .order-img label{
    display: inline-block;
    width: 32%;
 }
 .order-img label img{
    display: inline-block;
    width: 100%;
 }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* end good order page*/

/*service order page*/

.stars-wrapper{
  direction: ltr !important;
  padding: 15px;
  text-align: center;
}
.stars-wrapper i{
  font-size: 25px;
  color: yellow;
}
.stars-wrapper input{
  display: none;
}
.scores-wrapper{
  width: 100%;
}
.scores-wrapper .positive{
  width: 50%;
  margin: 0;
  padding: 0;
  float: right;
}
.scores-wrapper .negative{
  width: 50%;
  margin: 0;
  padding: 0;
  float: right;
}
.scores-wrapper .positive h5{text-align: center;padding: 12px;}
.scores-wrapper .negative h5{text-align: center;padding: 12px;}
.scores-wrapper .positive h5 b{background:green;color: #fff;padding: 8px ; border-radius: 4px;}
.scores-wrapper .negative h5 b{background:red;color: #fff;padding: 8px ; border-radius: 4px;}
#clear {
    clear: both;
}



.scores-wrapper .positive .inp-wrapp{
  text-align: center;
  width: 130px;
  margin:15px auto;
  font-size: 14px !important;
}
.scores-wrapper .negative .inp-wrapp{
  text-align: center;
  width: 130px;
  margin:15px auto;
  font-size: 14px !important;
}


.scores-wrapper .positive input[type="checkbox"]{display: none;}
.scores-wrapper .negative input[type="checkbox"]{display: none;}
.scores-wrapper .positive input[type="checkbox"] + label {
  color: #000 !important;
  font-size: 14px;
  cursor: pointer;
} 
.scores-wrapper .positive input[type="checkbox"]:checked + label {
  color: green !important;
} 

.scores-wrapper .negative input[type="checkbox"] + label {
  color: #000 !important;
  cursor: pointer;
  font-size: 14px;
} 
.scores-wrapper .negative input[type="checkbox"]:checked + label {
  color: red !important;
} 


.comment textarea{
    width: 100%;
    border:  rgb(197, 197, 197) 1px solid;
    border-radius: 15px;
    padding: 12px;
	margin: 12px 0;
	text-align: right;
}
.cancel{
  text-align: center;
}
.order-img{
    border: 2px dashed #ccc;
    border-radius: 15px;
    margin: 12px 0;
    padding: 12px;
}
.order-img input[type="file"]{
    display: none;
}
.order-img label{
    display: inline-block;
    width: 32%;
}
.order-img label img{
    display: inline-block;
    width: 100%;
}


/* //modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}



@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: red;
  font-size: 64px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: pink;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* end service order page*/

/*services-details*/
.row.top .top-title {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 0;
}
.row.top .left-img .cancellbtn{
	width: 100%;
	height: 40px;
	background: #ce6a6a;
	max-width: 70px;
	float: left ;
	position: relative;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
}
.row.top .left-img .cancellbtn .fa.fa-window-close{
	font-size: 20px;
	color: white;
	position: absolute;
	top: 0;
	display: block;
}
.row.top .left-img .cancellbtn cnl{
	font-size: 12px;
}
.right-img .arrow-img{
	margin-top: 18px;
}
.orderdetails-state{
	position: relative;
	padding: 0px 0 0px 0px;
}
.orderdetails .right-bold {
    position: absolute;
    right: 3px;
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.description-customer{
	width: 100%;
	height: auto;
}
.description-customer p{
	color:#000;
	font-size: 13px;
	padding-right: 0;
	display: block;
	padding: 5px 0;
}
.orderdetails-state .right-bold-msg {
    font-size: 13px;
    color: #e09c4f;
    font-weight: bold;
    display:block;
}

.orderdetails .left-bold {
    position: absolute;
    left: 3px;
    font-size: 14px;
    color: #5e5d5a;
}
.explain-services{
	height: auto;
	width: 100%;
	margin: 20px 0 10px 0;
}
.explain-services span{
	font-size: 13px;
    color: #5e5d5a;
}
.desc-inner .title-msg{
	text-align:center;
	color: black;
}
.start-btn{
	height: 45px;
	width: 100%;
	bottom: 0;
	position: fixed;
	text-align: center;
}
.start-btn .start-button{
	width: 100%;
	height: 45px;
	color: white;
	font-size: 14px;
	background: #44a8d7;
}
.desc-inner .price-title{
	text-align: right;
	color: black;
	font-weight: bold;
	margin-bottom: 10px;
	margin-right: 8px;
}
.desc-inner .value-price{
	text-align: center;
	font-size: 12px;
}
.div-price-service{
	width: 100%;
	height: auto;
	margin-top: 15px;
	text-align: center;
}
.left-tooman{
	font-size: 12px;
	color: #5e5d5a;
}
.row .end-txt-right{
	text-align: right;
	margin-top: 8px;
	color: black;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
.row .end-txt-center{
	text-align: center;
	color: black;
	font-size: 12px;
	margin-top: 8px;
	font-weight: bold;
	display: inline-block;
}

.row .end-txt-left{
	text-align: left;
	color: black;
	font-size: 14px;
	margin-top: 8px;
	font-weight: bold;
	display: inline-block;
}
.div-price-service input[type="number"]{
	width: 65%;
	height: 30px;
	border: 1px solid #aea7a7;
	text-align: center;
	border-radius: 7px;
	box-shadow: none;
	display: inline-block;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 6px;
	font-weight: bold;
}
.factor-div{
	width: 100%;
	height: 100px;
}
.factor-img input[type="file"]{
	display: none;
}
.factor-img label{
	display: contents;
}
.factor-div .factor-img{
	width: 100px;
	height: 100%;
	background: #b4bbbf;
	float: left;
	border-radius: 10px;
}
.factor-div .factor-img img{
	width: 100%;
	height: 85%;
	margin: 8px auto;
}
.desc-inner .right-show{
	color: #444;
	font-size: 12px;
}

.factor-div .factor-msg{
	width: 60%;
	height: 90%;
	margin-top: 8px;
	float: right;
	border-radius: 10px;
	color: #444;
	font-size: 12px;
}
.picture-upload-div .txt-upload{
	font-size: 12px;
	color: #444;
}
.desc-inner .right-title{
	font-size: 14px;
	color:black;
	right: 3px;
}
.how-pay-div-right{
	height: auto;
	width: 50%;
	right: 0;
	display: inline-block;
}
.how-pay-div-right span{
	color: #444;
	font-size:12px;
	line-height: 2;
}
.how-pay-div-left{
	height: auto;
	width: 30%;
	left: 0;
	display: inline-block;
}
.how-pay-div-left span{
	color: black;
	font-size:12px;
	line-height: 2;
}
.center-txt-upload{
	color: #444;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
.order-img-show{
	border: 2px dashed #ccc;
	border-radius: 15px;
	margin: 12px 0;
	padding: 12px;

}
.order-img-show img{
	display: inline-block;
	width: 32%;
}/* //modal */
.modal-show {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-show {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */

.right-sign{
	width: 40px;
	height: 100%;
	right: 12px;
	background: #3fa8d1;
	position: absolute;
}
.right-sign img{
	margin: 33px auto;
	width: 30px;
	height: 30px;
}
.alarm-msg{
	width: 90%;
	height: 88%;
	left: 0px;
	right: 50px;
	position: absolute;
}
.yellow-right-sign img{
	margin: 20px auto;
	width: 30px;
	height: 30px;
}
.charge-alarm-msg{
	width: 90%;
	height: 88%;
	left: 0px;
	right: 50px;
	position: absolute;
}
.row.charge{
	width: 100%;
	height: auto;
}
.yellow-right-sign{
	width: 40px;
	height: 100%;
	right: 12px;
	background: #e6ca2c;
	position: absolute;
}
.alarm-msg p{
	font-size: 13px;
	margin-left: 10px;
	color: #444;
}
.charge-alarm-msg p{
	font-size: 13px;
	margin-left: 10px;
	color: #444;
}
.row.charge .supply{
	border: 1px solid white;
	height: 50px;
}
.row.charge .btn{
	text-align: right;
	height: 50px;
}
.row.charge .btn button{
	width: 80px;
	height: 30px;
	background: #586287;
	color: white;
	border: none;
	margin-top: 9px;
	border-radius:10px 0 0 10px;
}
.row.charge .supply{
	text-align: left;
}
.row.charge .supply img{
	width: 50px;
	height: 35px;
	left:2px;
	position: absolute;
}
.row.charge .tooman{
	color: #8d8e94;
	margin-top:13px;
	margin-left: 60px;
	display: inline-block;
	font-size: 12px;
}
.row.charge .value{
	display: inline-block;
	font-size: 17px;
	color: #464a47;
	font-weight: bold;
}
.charge-question-txt{
	margin:10px auto;
	height: auto;
	text-align: center;
	position: relative;
}
.content-question{
	text-align: center;
	margin:0 auto;
	font-size: 14px;
	max-width: 500px;
}
.content-question p{
	color: #464a47;
	font-weight: 900;
}
.charge-ways{
	height: auto;
}
.charge-ways-content{
	max-width: 800px;
	height: auto;
	margin:0 auto;
}
.row.charge-way{
	margin-right: 20px;
	margin-left: 20px;
}
.row.charge-way .right{
	height: auto;
	left:5px;
	padding:0;
	text-align: center;
	border: 2px solid white;
	background: white;
}
.row.charge-way .right p{
	color: #505657;
}
.row.charge-way .right small{
	margin-bottom: 10px;
	line-height: 3;
}
.row.charge-way .left small{
	margin-bottom: 10px;
	line-height: 3;
}
.row.charge-way .pay-input{
	display: none;

}
.row.charge-way label{
	display: contents !important;
	
}
.row.charge-way input[type="radio"]:checked + label div {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(360deg, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(360deg, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.row.charge-way .left{
	right: 5px;
	padding:0;
	text-align: center;
	border: 2px solid white;
	background: white;
}
.row.charge-way .left img{
	width: 70%;
	margin:20px auto;
	height: auto;
	border-radius: 50%;
	border: 6px solid #c5cfd1;
	display: block;
}

.row.charge-way .right img{
	width: 70%;
	margin:20px auto;
	height: auto;
	border-radius: 50%;
	border: 6px solid #aadde6;
	display: block;
}
.row.charge-way .right p{
	font-size: 12px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	display: block;
}
.row.charge-way .right .small{
	font-size: 10px;
	color: #d2f2f7;
	padding:0 0 15px 0;
}
.row.charge-way .left p{
	font-size: 12px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	display: block;
	color: #505657;
}
.row.charge-way .left .small{
	font-size: 10px;
	color: #d2f2f7;
	padding:0 0 15px 0;
	color: #979fa1;
}
.row.charge-value{
	margin:0;
}
.row.charge-value .right button{
	background: white;
	color: #4d5251;
	border:2px solid #3ac7c2;
	border-radius: 5px;
	font-weight: bold;
	padding:5px 10px;
	margin:0 auto;
}
.row.charge-value .middle button{
	background: white;
	color: #4d5251;
	border:2px solid #3ac7c2;
	border-radius: 5px;
	font-weight: bold;
	padding:5px 10px;
	margin:0 auto;
}
.row.charge-value button:focus{
	background: #176dc2;
	color: white;
	border:1px solid #3ac7c2;
}
.row.charge-value .left button:focus{
	background: #176dc2;
	color: white;
	border:1px solid #3ac7c2;
}
.row.charge-value .middle{
	text-align: center;
}
.row.charge-value .left button{
	background: white;
	color: #4d5251;
	border:2px solid #3ac7c2;
	border-radius: 5px;
	font-weight: bold;
	padding:5px 10px;
	float: left;
}
.input-container{
	height: 33px;
	width: 100%;
	margin-top: 12px;
	border-radius: 5px;
	position: relative;
	
}
.leftbtn{
	float: left;
	background:#1e5cba;
	width: 20%;
	text-align: center;
	height: 100%;
	margin-left: 14px;
	border-radius: 5px 0px 0px 5px;
}
.leftbtn p{
	text-align: center;
	margin-right: 28px;
	padding:0;
	margin-top: 5px;
}

.input-container input[type=text]{
	height: 100%;
	width: 80%;
	display: inline-block;
	background: white;
	border-radius: 0px 5px 5px 0px;
	position: absolute;
	margin: 0;
	border: 1px solid #87c5f5;
	font-size: 12px;
	color: #444;
	margin-right: 15px;
	font-weight: bold;
}
.charge-ways-content .sale-btn{
	color :white;
	font-size: 12px;
	font-weight: bold;
	width: 20%;
	height: 35px;
	padding:6px 0;
	background: #176dc2;
	margin: 10px auto;
	border: none;
	border-radius: 2px;
}
.explain-div{
	width: 100%;
	height: auto;
	margin-bottom: 8px;
	font-size: 12px;
}
.explain-div p{
	color: #444;
}
.input-containner label{
	margin-right: 3px;
	color: #989c99;
	padding:0;
	margin-bottom: 3px;
	font-size: 12px;
}
.input-containner{
	width: 100%;
	height: auto;
}
.input-containner input[type="text"]{
	width: 100%;
	height:40px;
	margin-top: 0;
	color: #444;
	font-size: 12px;
	box-shadow: 5px 0px 17px -4px #888;
}
.div-btn{
	width: 100%;
	height: auto;
	text-align: center;
} 
.div-btn button{
	border-radius: 6px;
	color: white;
	width: 100px;
	height: 30px;
	background: #2370b8;
	border: none;
	margin-bottom: 10px;
}
.exit-modal{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-div{
	height: auto;
	margin: 0 40px;
}
.exit-modal .content{
	max-width: 500px;
	height: auto;
	background: white;
	text-align: center;
	margin:0 auto;
	margin-top:100px;
	border-radius: 5px;
}
.exit-modal .content p{
	color:#444;
	display: block;
}
.exit-modal .content button{
	display: inline-block;
	border: none;
	width: 80px;
	padding:3px 0;
	height: auto;
	color: white;
	margin-top: 7px;
	border-radius: 2px;
	background: #2a75de;
	margin-bottom: 15px;
}
.exit-modal .content .lft-btn{
	margin-right: 20px;
}
.desc-inner.category {
	min-height: 10px !important;
	box-shadow: none;
	background: transparent;
	overflow-y: auto;
	white-space: nowrap;
}
.storeCatswrapper {
	width: 100%;
	height: auto;
	border-radius: 15px;
	display: flex;
}

.exit-modal .content-media{
	max-width: 500px;
	height: auto;
	background: white;
	text-align: center;
	margin:0 auto;
	margin-top:100px;
	border-radius: 5px;
}
.exit-modal .content-media p{
	color:#444;
	display: block;
}
.exit-modal .content-media button{
	display: inline-block;
	border: none;
	width: 80px;
	padding:3px 0;
	height: auto;
	color: white;
	margin-top: 7px;
	border-radius: 2px;
	background: #4fdb7e;
	margin-bottom: 15px;
}
.exit-modal .content-media .lft-btn{
	margin-right: 20px;
}

.big-all-container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
}
.media-modal{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.media-modal .content{
	max-width: 500px;
	height: auto;
	background: white;
	text-align: center;
	margin:0 auto;
	margin-top:100px;
	border-radius: 5px;
}
.media-modal .content p{
	color:#444;
	display: block;
}
.media-modal .content button{
	display: inline-block;
	border: none;
	width: 80px;
	padding:3px 0;
	height: auto;
	color: white;
	margin-top: 7px;
	border-radius: 2px;
	background: #2a75de;
	margin-bottom: 15px;
}
.media-modal .content .lft-btn{
	margin-right: 20px;
}


.media-modal .content-media{
	max-width: 500px;
	height: auto;
	background: white;
	text-align: center;
	margin:0 auto;
	margin-top:100px;
	border-radius: 5px;
}
.media-modal .content-media p{
	color:#444;
	display: block;
}
.media-modal .content-media button{
	display: inline-block;
	border: none;
	width: 80px;
	padding:3px 0;
	height: auto;
	color: white;
	margin-top: 7px;
	border-radius: 2px;
	background: #4fdb7e;
	margin-bottom: 15px;
}
.media-modal .content-media .lft-btn{
	margin-right: 20px;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content-show {
    width: 100%;
  }
  }

  @media (max-width:768px){
    .modal-content{
  	max-width: 400px;
  }
  .row.first-info .box img{
	width:32px;
}

.row.first-info .box h5{
	font-size: 12px;
	margin-top: 4px;
	margin-right: 6px;
}
.row.first-info .box h6{
	font-size: 10px;
	margin-right: 6px;
	margin-bottom: 6px;
}
  }
/*////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 442px) {
.modal-div{
	margin: 0 15px;
}
.exit-modal .content button{
	font-size: 12px;
	padding:2px 0;
	width: 70px;
}
.exit-modal .content p{
	font-size: 12px;
}
	.row.first-info .box img{
	width:22px;
	margin-top: 7px;
}

.row.first-info .box h5{
	font-size: 11px;
	margin-top: 0px;
	margin-right: 2px;
}
.row.first-info .box .history{
	margin-left: 2px !important; 	
}
.row.first-info .box h6{
	font-size: 9px;
	margin-right: 2px;
	margin-bottom: 6px;
}
	.start-btn .start-button{
	height: 38px;
}

.alarm-msg p{
	font-size: 10px !important;
	margin-left: 25px !important;
}
.charge-alarm-msg p{
	font-size: 11px !important;
	margin-left: 25px !important;
}

.start-btn{
	height: 38px;
	}

.modal-content{
	max-width: 300px;
	width: 230px;
	margin-top: 14px;
}
.row.charge-value .right button{
	padding:5px 2px;
	font-size: 12px
}
.row.charge-value .middle button{
	padding:5px 2px;
	font-size: 12px
}


.row.charge-value .left button{
	padding:5px 2px;
	font-size: 12px
}
.row.charge-value .right{
	padding:0;
}
.row.charge-value .middle{
	padding:0;
}


.row.charge-value .left{
	padding:0;
}
.row.charge-value{
	margin:0 12px;
}
.leftbtn{
	width: 30%;
	margin-left: 14px;
}
.leftbtn p{
	margin-right: 29px;
	margin-top: 6px;
}

.input-container input[type=text]{
	height: 100%;
	width: 70%;
	margin-right: 10px;
	
}
.charge-ways-content .sale-btn{
	width: 30%;
}
/*//////////////////////////end of services-details///////////////////*/


/*///////////////////////////products-details////////////////////////*/
.desc-inner .count-value{
	display: inline-block;
	color: black;
	margin: 0 5px;
	font-weight: bold;
}

/*///////////////////////////end of products-details////////////////////////*/
.btm-col .right-linear-div{
	width: 60% !important;
	height: 2px;
	margin:9px auto;
}
.btm-col .middle-linear-div{
	width: 60% !important;
	height: 2px;
	margin:9px auto;
}
.btm-col .left-linear-div{
	width: 60% !important;
	height: 2px;
	margin:9px auto;
}
.header-wrapper .gift-wrapper .text-inner{
	width: 50%;
	padding-right: 12px;
	}
	.header-wrapper .gift-wrapper .gift-inner{
	display: inline-block;
	width: 40%;
	}
	.header-wrapper .header-inner{
	  height: 280px;
	}
	.header-wrapper .gift-wrapper .gift-inner .image-gift{
	  width: 100px;
	}
}




