/*=====================
/* SLIDER */
/*=====================*/
.mySlides {
  display: none;
  height: 100%;
  position: relative;
  vertical-align: middle;
}
.mySlides img {
vertical-align: middle;
border-radius: 12px;
height: 100%;
overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
max-width: 800px;
height: 400px;
position: relative;
margin: auto;
top: 5px;
}

/* The dots/bullets/indicators */
.dot {
height: 8px;
width: 8px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #f82e2e;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
.w3-button {
outline: none;
border: none;
display: inline-block;
padding: 8px 16px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
white-space: nowrap;
width: 20px;
color: #fff;
}
.w3-display-right {

position: absolute;
top: 50%;
right: 0%;
transform: translate(0%,-50%);
-ms-transform: translate(0%,-50%);

}
.w3-display-left {
position: absolute;
top: 50%;
left: 0%;
transform: translate(0%,-50%);
-ms-transform: translate(-0%,-50%);
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
.mybtn {
display: inline-block ;
color: #fff;
margin-bottom: 10px;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
width: 120px ; 
font-family: 'IRANSans';
border: 1px solid transparent;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 40px;
transition: all 0.3s ease 0s;
background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mybtn.pro {
width: 90px !important;
margin-top:50px ;
}
.btn-block {
display: block;
width: 100%;
height: 100%;
margin-bottom: 0;
padding:12px;
color: #fff !important;
/* font-weight: 400; */
font-family: inherit;
text-align: center;
white-space: nowrap;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
font-size: 17px;
line-height: 1.42857143;
transition: all 0.3s ease 0s;
background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar{
background: rgb(203, 255, 228);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(252, 255, 228), rgb(190, 255, 221));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(246, 248, 230), rgb(204, 255, 229)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sidebar .profile-data{
width: 100%;
height: 130px;
background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
}

.sidebar .profile-data .profile-img{
width: 90px;
height: 90px;
border-radius: 50%;
border:3px solid #6abaf7;
position: absolute;
top: 15px;
right: 15px;
background: #fff;
z-index: 12 !important;
overflow: hidden;
}
.sidebar .profile-data .profile-img img{
width: 100%;
height: 100%;
overflow: hidden;
}
.sidebar .profile-data .profile-name{
width: 140px;
height: 19px;
border-top-left-radius: 9px;
border-bottom-left-radius: 9px;
background-color: #6abaf7;
color: #fff;
position: absolute;
top: 35px;
right: 95px;
padding-right: 18px;
z-index: 10 !important;
padding-bottom: 4px;
}
.sidebar .profile-data .profile-number{
width: 100px;
height: 19px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
background-color: #fff;
color: #6abaf7;
position: absolute;
top: 65px;
right: 95px;
padding-right: 22px;
z-index: 10 !important;
padding-bottom: 4px;
}
.list.accordion-list hr{
color: #55acee;
margin: 0;
}
.searchbar-inner{
height: 30px;
background: rgb(255, 255, 255);
border-radius: 15px;
margin:10px 10px;
width: 98%;
}
.searchbar button{
/* top: 5px; */
outline: none;
border: none;
background: transparent;
width: 30px;
height: 20px;
cursor: pointer;
}
.searchbar .searchbar-icon{
position: absolute;
/* top: 5px; */
color: rgb(163, 163, 163);
font-size: 16px;
float: left;
left: 10px;
bottom: 6px;
}
.searchbar-inner .searchbar-input-wrap{
width: 80%;
height: 30px;
padding-right: 10px;
}
.navbar-wrapper i#backLink{
font-size: 24px;
color: #fff;
float: right;
position: absolute;
top: 15px;
right: 15px;
cursor: pointer;
z-index: 10;
}
.service-slideshow-container .service-slideshow-inner{
max-width:800px;
margin:auto;
margin-bottom:10px;
}
.service-slideshow-container .service-slideshow-inner.store img{
max-height:300px;
}
.desc-wrapper{
margin-bottom:10px;
height:auto;
}
.desc-wrapper .desc-inner{
max-width:800px;
min-height:100px;
margin:auto;
border-radius:6px;
-webkit-box-shadow: 0px 3px 19px -5px rgba(56,56,56,1);
-moz-box-shadow: 0px 3px 19px -5px rgba(56,56,56,1);
box-shadow: 0px 3px 19px -5px rgba(56,56,56,1);
padding:25px 15px;
color:#000 !important;
background: #fff;
}
.desc-wrapper .desc-inner .details{
font-size:16px;
}
.desc-wrapper .desc-inner .details img{
display:inline-block;
width:25px;
position:relative;
top:8px;
}
.desc-wrapper .desc-inner .desc-main{
text-align:center;
/* min-height:30px; */
border-bottom:2px solid #000;
padding-bottom: 12px;
}
.desc-wrapper .desc-inner .desc-number{
padding-bottom: 12px;

}
.desc-wrapper .desc-inner .desc-address{
padding-bottom: 12px;

}

.product-wrapper{
/* height: 150px; */
width: 100%;
margin: 8px 0;
}
.product-wrapper .product-inner{
height: 150px;
max-width: 800px;
border-radius: 4px;
margin: auto;
-webkit-box-shadow: 0px 3px 19px -5px rgba(122, 122, 122);
-moz-box-shadow: 0px 3px 19px -5px rgba(122, 122, 122);
box-shadow: 0px 3px 19px -5px rgba(122, 122, 122);
position: relative;
}
.product-wrapper .product-inner span{
width: 32% !important;
text-align: center;
}
.product-wrapper .product-inner .img{
display: inline-block;
margin-top: 10px;
}
.product-wrapper .product-inner .img .pimg-wrapper{
display: inline-block;
height: 130px;
width: 130px;
margin: auto;
border-radius: 50%;
box-shadow: 0px 3px 19px -5px rgb(122, 122, 122);
text-align: center;
overflow: hidden;
}
.product-wrapper .product-inner .img img{
margin: auto;
height: 100%;
width: auto;
}
.product-wrapper .product-inner .desc{
display: inline-block;
position: absolute;
top: 10px;
}
.product-wrapper .product-inner .pdesc-wrapper{
position: relative;
}
.product-wrapper .product-inner .pprice .pprice-wrapper{
position: relative;
}
.product-wrapper .product-inner .pprice{
display: inline-block;
position: absolute;
top: 10px;
left: 0px;
text-align: left;
padding-left: 20px;
}
.tab.tab-search.getnumpage{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, rgb(210, 238, 248), rgb(154, 214, 253));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, rgb(219, 239, 247), rgb(185, 225, 252)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tab.tab-search.getnumpage .title{
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
.tab.tab-search.getnumpage .title h2{
  margin:auto;
  color: rgb(0, 0, 187);
}
.tab.tab-search.getnumpage .charsooicon{
  padding-top: 15px;
  width: 100%;

}
.tab.tab-search.getnumpage .charsooicon img{
  margin: auto;
  height: 160px;
}
.tab.tab-search.getnumpage .number{
  text-align: center;
  font-size: 20px;
  color: rgb(65, 65, 65);
  margin-top: 15px;
}
.tab.tab-search.getnumpage .number input{
  margin: 25px auto;
  background-color: #fff;
  border-radius: 26px;
  padding: 12px;
  text-align: center;
}
.tab.tab-search.getnumpage .descrip{
  color: rgb(0, 0, 160);
  font-size: 12px;
  text-align: center;
}
.tab.tab-search.getnumpage .descrip img{
  width: 22px;
  display: inline-block;
}
.tab.tab-search.getnumpage .descrip a{
  margin-top: 16px;
  color: blue;
}
.tab.tab-search.getnumpage .next {
  width: 100%;
  text-align: center;
}
.tab.tab-search.getnumpage .next a{
  padding: 10px 40px;
  margin-top: 20px;
}

.tab.tab-search.getnumpage .register input{
margin: 25px auto;
background-color: #fff;
border-radius: 26px;
padding: 12px 18px;
text-align: right;
font-size: 20px;
color: rgb(65, 65, 65);
margin-top: 15px;
}
.tab.tab-search.getnumpage .register select{
margin: 25px auto;
background-color: #fff;
border-radius: 26px;
padding: 12px 18px;
text-align: right !important;
font-size: 20px;
color: rgb(182, 175, 175);
margin-top: 15px;
width:300px;
}
.addcashicon{
width:50px;
height:50px;
font-size:8px;
text-align:center;
border:1px solid #fff;
border-top-right-radius: 16px ;
border-bottom-left-radius: 16px ;
padding-top: 5px;
}
.addcashicon i{
font-size:22px !important;
padding-top: 5px;
}
.cachdescrip{
color:#000 !important;
text-align:right;
padding-top:25px;
font-size:16px;
max-width:450px;
margin:auto;
}
.cash{
position: relative;
max-width:450px;
margin:auto;
padding-top: 30px;
}
.cash img{
display: inline-block;
}
.cash .cash-text{
position: absolute;
top:45px;
left:10px;
text-align: center;
font-size: 25px;
color:#000;
}
.add-cash{
position: relative;
max-width:450px;
margin:auto;
padding-top: 30px;
}
.add-cash .items-wrapper{
width: 100%;
text-align: center;
}
.add-cash .addcash-item{
width: 32%;
border: 2px solid #f39c12;
padding: 6px 3px;
margin: 5px 3px;
border-radius: 6px;
color: #000;
}
.add-cash .addcash-item:hover{
cursor: pointer;
background: #f12711;
background: -webkit-linear-gradient(to right, #f5af19, #f12711);
background: linear-gradient(to right, #f5af19, #f12711);

color: #fff;
}
.add-cashing{
position: relative;
max-width:450px;
margin:auto;
padding-top: 40px;
padding-left: 10px;
padding-right: 10px;

}
.add-cashing .input-wrapper{
width:100%;
margin:auto;
background: #f12711;
background: -webkit-linear-gradient(to right, #f5af19, #f12711);
background: linear-gradient(to right, #f5af19, #f12711); 
height: 70px;
}
.add-cash input[type=number] {
-moz-appearance: textfield;
position: relative;
padding: 10px 0;
margin: 5px;
height: 60px;
width:70%;
color: #000;
font-size: 20px;
background-color: #fff;
display: inline-block;
}
.add-cashing .input-wrapper span{
color: #fff;
font-size: 24px;
}

.transaction{
width: 100%;
margin-top: 10px;
}
.transaction .tran-wrapper{
max-width: 500px;
margin: auto;
padding-right: 4px;
padding-left: 4px;
}
.transaction .tran-wrapper .tran-inner{
width: 100%;
background-color: #fff;
border: 1px solid #fff;
border-radius: 6px;
font-size: 16px;
position: relative;
}
.transaction .tran-wrapper .tran-inner .tran-item{
padding: 10px;
height: 40px;
}
.transaction .tran-wrapper .tran-inner .numbers{
color: rgb(10, 15, 17);
}
.transaction .tran-wrapper .tran-inner .charge{
color: rgb(63, 224, 31);
}
.transaction .tran-wrapper .tran-inner .Deduction{
color: rgb(228, 65, 0);
}
.transaction .tran-wrapper .tran-inner .Remaining{
color: #fff;
background-color: #00C9FF;
border-bottom-left-radius: 6px ;
border-bottom-right-radius: 6px;
}
.transaction .tran-wrapper .tran-inner .right{
position: absolute;
right: 3px;
font-size: 13px;
}
.transaction .tran-wrapper .tran-inner .left{
position: absolute;
left: 3px;
font-size: 13px;
}
.transaction .tran-wrapper .tranlist-item{
width: 100%;
border-radius: 12px;
padding: 12px 0;
background: #FFFFFF;
margin: 8px 0;
}
.transaction .tran-wrapper .tranlist-item span{
display: inline-block;
}
.transaction .tran-wrapper .tranlist-item img{
display: inline-block;
width: 18px;
position: relative;
top: 2px;
margin-left: 2px;
}
.transaction .tran-wrapper .tranlist-item .amount b{
background-color: rgb(11, 47, 78);
color:#fff;
padding: 0;
border-radius: 3px;
font-size: 9px;
}

.transaction .tran-wrapper .tranlist-item.success{
border: green 0.5px solid;
}
.transaction .tran-wrapper .tranlist-item.danger{
border: red 0.5px solid;
}
.transaction .tran-wrapper .tranlist-item.success .price{
color: #159957 !important;
width: 32%;
text-align: right;
}
.transaction .tran-wrapper .tranlist-item.success .amount{
width: 28%;
text-align: center;
}
.transaction .tran-wrapper .tranlist-item.success .date{
width: 34%;
text-align: left;
float: left;
margin-left: 4px;
font-size: 10px;
}


.transaction .tran-wrapper .tranlist-item.danger .price{
color: #5c5858 !important;
width: 34%;
text-align: right;
}
.transaction .tran-wrapper .tranlist-item.danger .amount{
width: 28%;
text-align: center;
}
.transaction .tran-wrapper .tranlist-item.danger .date{
width: 34%;
text-align: left;
float: left;
margin-left: 4px;
font-size: 10px;
}
.turnovers{
  text-align: right;
  font-size: 12px;
}
@media(max-width:442px){
  .turnovers{
    font-size: 11px;
  }
}
.accordion{
  padding: 6px;
  margin-top: 10px;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.icon i{
  font-size: 18px ;
  color: #888;
}
.icon i.fa-sort-up{position: relative; top:4px;}
.icon i.fa-sort-down{position: relative; bottom:2px;}

@media (max-width: 400px) {
.amount{
  width: 25% !important;
}
.amount b{
  font-size: 10px !important;
}
.price{
  font-size: 10px !important;
}
}
/* Profile page */
.propic {
width: 100%;
padding-top: 15px;
}
.propic .propic-inner{
width: 140px;
height: 140px;
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 50%;
margin: auto;
}
.propic .propic-inner img {
width: 130px;
height: 130px;
padding: 5px;
border-radius: 50%;

}
.proname{
text-align: center;
font-size: 18px;
}
.prodetail{
max-width: 550px;
height: 100px;
border-radius: 14px;
background-color: #fff;
margin: auto;
position: relative;
top: -50px;
z-index: 10;
}
.prodetail .detail-item{
width: 32%;
text-align: center;
display: inline-block;
padding-top: 10px;
}
.prodetail .detail-item span{
color: #000;
font-size: 24px;
}
.prodetail.data{
height: auto;
max-width: 550px;
border-radius: 14px;
background-color: #fff;
margin: auto;
}
.prodetail.data h4{
text-align: center;
padding:5px;
}
.prodetail.data .data-item{
height: 35px;
padding: 0 15px;
}
.prodetail.data .data-item .right{
float: right;
}
.prodetail.data .data-item .left{
float: left;
}
.editpro-inner{
max-width: 550px;
margin: auto;

}
.editpro-inner .editform-item{
height: 50px;
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 90%;
margin: 12px auto ;
border-radius:8px;
}
.editpro-inner .editform-item input{
background: #fff;
height: 42px;
margin: auto;
position: relative;
top: 4px;
width: 98%;
border-radius:8px;
padding: 0 12px;
color: rgb(37, 131, 0);
}
.editpro-inner .propiclbl{
height: 35px;
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 30%;
margin: 12px auto ;
border-radius:8px;
display: block;
text-align: center;
padding-top: 8px;
color: #fff;
}

.address-wrapper{
max-width: 500px;
margin: auto;
}
.address-wrapper .address-inner{
margin: 15px;
}
.address-wrapper .address-inner .address-item.titr{
height: 40px;
background-color: rgb(12, 157, 204);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
color: #fff;
}
.address-wrapper .address-inner .address-item.titr .right{
float: right;
margin-right:15px;  
margin-top:7px;
}
.address-wrapper .address-inner .address-item.titr .left{
float: left;
margin-left:15px;  
margin-top:7px;
cursor: pointer;
font-size: 18px;
}
.address-wrapper .address-inner .address-item.body{
height: 40px;
background-color: #ffffff;
border-bottom-left-radius: 13px;
border-bottom-right-radius: 13px;
padding-right:15px;  
padding-top:7px;
}
.address-form{
color: #000;
font-size: 18px;
background-color: #fff;
padding: 10px;
margin: 10px;
border-radius: 10px;
}
.address-form input{
margin: 10px auto;
background-color: #fff;
border-radius: 20px;
padding: 6px 12px;
text-align: right;
font-size: 16px;
color: rgb(65, 65, 65);
margin-top: 5px;
width: 100%;
border: rgb(197, 197, 197) 2px solid;
}
.address-form select{
display: inline-block;
margin: 10px auto;
background-color: #fff;
border-radius: 20px;
padding: 6px 12px;
text-align: right !important;
font-size: 16px;
border: rgb(197, 197, 197) 2px solid;
color: rgb(182, 175, 175);
width: 100% ;
}
.address-form .division {
width:48%;
display: inline-block;
align-items: center;
}

.lastorder-wrapper{
position: relative;
max-width:600px;
margin:auto;
border: 1px solid #ccc;
margin-top:5px ;
margin-bottom:5px ;
border-radius: 13px;
overflow: hidden;
}
.lastorder-wrapper .lastorder-inner{
height: 110px;
}
.lastorder-wrapper .lastorder-inner .title{
text-align: center;
height: 30px;
color: #fff;
padding: 5px;
}
.lastorder-wrapper .lastorder-inner.service .title{
background: rgb(12, 157, 204);

}
.lastorder-wrapper .lastorder-inner.goods .title{
background: rgb(76, 176, 80);
}
.lastorder-wrapper .lastorder-inner .lastorder-body{
color: #000;
padding: 10px;
}
/* order detail */
.orderdetails{
position: relative;
padding: 10px;
color: #000;
}
.orderdetails span{
overflow: hidden;
white-space: nowrap;
}
.orderdetails .right{
position: absolute;
right: 3px;
font-size: 12px;
}
.orderdetails .left{
position: absolute;
left: 3px;
font-size: 12px;
}
.orderdetails-products{
position: relative;
padding: 32px;
color: #000;
height: 70px;
}
.orderdetails-products .right{
position: absolute;
right: 3px;
}
.orderdetails-products .left{
position: absolute;
padding: 12px;
left: 3px;
}
.faktor-details{
padding: 10px;
}
.faktor-details .faktor-details-item{
height: 25px;
width: 100%;
position: relative;
display: flex;
}
.faktor-details .faktor-details-item .title{
width: 30%;
text-align: right;
}
.faktor-details .faktor-details-item .data{
width: 30%;
text-align: center;
}
.faktor-details .faktor-details-item .toman{
width: 30%;
text-align: left;
}

.orders-wrapper{
max-width: 500px;
margin: auto;
}
.orders-wrapper .orders-inner{
margin: 10px 5px;
}
.orders-wrapper .orders-inner .orders-item{
border-radius: 18px;
padding: 6px;
margin:7px 0;
background: white;
}
.orders-wrapper .orders-inner .orders-item .head{
height: 38px;
padding-top: 5px;
text-align: center;
border-bottom: 1px solid #000;
}
.orders-wrapper .orders-inner .orders-item .body{
width: 100%;
border-bottom: 1px solid #000;
padding:10px 0 ;
}
.orders-wrapper .orders-inner .orders-item .body .time{
width: 48%;
display: inline-block;
text-align:center;
}
.orders-wrapper .orders-inner .orders-item .body .date{
display: inline-block;
width: 48%;
text-align:center;
font-size: 14px;
}
.orders-wrapper .orders-inner .orders-item .foot{
padding:10px;
text-align:right;
}
.orders-wrapper .orders-inner .orders-item.default{
border: 1.3px solid rgb(134, 134, 134);
color: rgb(134, 134, 134);
}
.orders-wrapper .orders-inner .orders-item.primary{
border: 1.3px solid rgb(0, 153, 224);
color: rgb(0, 153, 224);
}
.orders-wrapper .orders-inner .orders-item.danger{
border: 1.3px solid rgb(187, 22, 0);
color: rgb(187, 22, 0);
}
.orders-wrapper .orders-inner .orders-item.orange{
  border: 1.3px solid rgb(221, 116, 17);
  color: rgb(221, 116, 17);
  }
.orders-wrapper .orders-inner .orders-item.success{
border: 1.3px solid rgb(0, 185, 0);
color: rgb(0, 185, 0);
}
.orders-wrapper .orders-inner .orders-item.simple{
border: 1.3px solid #73767a;
color: #525354;
}
.orders-wrapper .orders-inner .orders-item.warning{
border: 1.3px solid rgb(253, 184, 44);
color: rgb(253, 184, 44);
}
.faktordetails{
width: 100%;
}
.faktordetails .faktor-item{
width: 23.5%;
text-align: center;
display: inline-block;
/* min-height: 10em;   */
  /* display: table-cell; */
  vertical-align: middle
}
.faktordetails .faktor-item.prod img{
display: inline-block;
margin: auto;
width: 100%;
height: auto;
}
.faktordetails .faktor-item.name{

}
.faktordetails .faktor-item.numb{

}
.faktordetails .faktor-item.pric{

}
.faktordetails.head .faktor-item{
border-radius: 12px;
background: lightseagreen;
color: #fff;
}
.faktordetails.body{
border: 1px solid #29b5fa;
border-radius: 14px;
margin: 6px 0;
padding: 5px;
}

/* tender offer page styles */
.desc-wrapper .desc-inner .items{
display: inline-block;
}
.desc-wrapper .desc-inner .items.img-wrapper{
width: 30%;
}
.desc-wrapper .desc-inner .img-inner{
display: inline-block;
/* width: 30%; */
border: 2px solid rgb(16, 20, 36);
border-radius: 50%;
height: 150px;
width: 150px;
overflow: hidden;
}
.desc-wrapper .desc-inner .items.img-wrapper img{
width: 100%;
height: 100%;
}
.desc-wrapper .desc-inner .items.det-wrapper{
position: absolute;
width: 60%;
margin-top: 30px;
}
.desc-wrapper .desc-inner .icn-wrapper{
position: absolute;
top: 10px;
left: 10px;
}
.desc-wrapper .desc-inner .icn-wrapper img{
width: 65px;
}
.desc-wrapper .desc-inner .action{
width: 100%;
display: flex;
}
.desc-wrapper .desc-inner .action div{
display: inline-block;
width: 33%;
}
.desc-wrapper .desc-inner .action .view{
position: relative;
}
.desc-wrapper .desc-inner .action .view a{
right:0;
padding: 6px;
display: inline-block;
background: rgb(40, 216, 40);
color: #fff !important;
}
.desc-wrapper .desc-inner .action .choice{
position: relative;
}
.desc-wrapper .desc-inner .action .choice a{
position: absolute;
left: 0;
padding: 6px;
display: inline-block;
background: rgb(40, 216, 40);
color: #fff !important;
}
.desc-wrapper .desc-inner .action .time{
display: block;
text-align: center;
padding-top: 5px;
}
.desc-wrapper .desc-inner .name-wrapper{
height: 60px;
background: rgb(12, 157, 204);
padding-top: 20px;
padding-right: 20px;
overflow: hidden;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}
.desc-wrapper .desc-inner .name-wrapper h3{
color: #fff;
}

.desc-wrapper .desc-inner .star-wrapper{
height: 60px;
padding-top: 20px;
padding-right: 20px;
overflow: hidden;
border-bottom: 1px solid rgb(12, 157, 204);
}
.desc-wrapper .desc-inner .star-wrapper i{
color: yellow ;
margin: 8px;
font-size: 30px;
}
.desc-wrapper .desc-inner .data-wrapper{
height: 60px;
padding-top: 20px;
padding-right: 20px;
overflow: hidden;
}
.desc-wrapper .desc-inner .data-wrapper .ser{
float: right;
text-align: center;
}
.desc-wrapper .desc-inner .data-wrapper .mon{
float: left;
text-align: center;
margin-left: 12px;
}
.desc-wrapper .desc-inner .per-img{
height: 130px;
width: 130px;
border: 1px solid #000;
border-radius: 50%;
position: absolute;
top: 15px;
left: 15px;
background: cornsilk;
overflow: hidden;
}
.desc-wrapper .desc-inner .per-img img{
width: 100%;
height: 100%;
}


/* CATEGORY PAGES STYLES */

.appcategories div{
height:50px;
}
.appcategories #back{
height:50px;
width:50px;
position:relative;
top:5px;
right:12px;
font-size:22px;
color:#fff;
cursor:pointer;
}
.appcategories .titr span{
color:#fff;
font-size:20px;
}
.appcategories .cates a{
font-size:14px;
color:#000;
cursor:pointer;
padding:8px;
background:#fff;
margin: 0px 5px;
border-radius:16px;
position:relative;
top:12px;
}
.appcategories .heads .item{
height:46px;
display: inline-block;
background:transparent;
color: #eee;
border-bottom : 4px solid red;
vertical-align:middle;
margin : 0 5px;
}
.appcategories .heads .item button{
outline : none;
border:none;
font-family:"IRANSans" !important;
background:transparent;
position:relative;
top:12px;
color:#fff;
}
.myitem-wrapper{
max-width:550px;
margin:auto;
}
.myitems{
height:100px;
background:#fff;
margin : 4px auto;
width:98%;
border-radius:12px;
display:flex;
}
.myitems .image{
display:inline-block;
width:30%;
}
.myitems .imgitem-wrapper{
/* display:inline-block; */
height:100px;
width:100px;
border-radius:50%;
border:2px solid #ccc;
overflow:hidden;
display:flex;
}
.myitems .image img{
/* display:inline-block !important; */
margin:auto;
width:100%;
}
.myitems .title{
display:inline-block;
width:60%;
text-align: right;
vertical-align:middle;
margin-top:35px;
font-size:18px !important;
margin-right:10px;
}
.myitems .licon{
vertical-align:middle;
display:inline-block;
width:10%;
margin-top:30px;
margin-left:5px;
text-align: left;
font-size:25px;

}
.tabcontent {
color: white;
display: none;
padding: 100px 20px;
height: 100%;
}


/* MODAL */
.my-modal{
position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background:#000000c9;
  color: #000;
  display: none;
}
.my-modal .modal-wrapper{
width: 550px;
margin: auto;
background:#fff;
border-radius: 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.my-modal .modal-wrapper .modal-inner{
padding: 8px;
}
.my-modal .modal-wrapper .modal-inner .modal-head{
padding: 12px 0;
position: relative;
border-bottom:1px solid #000; 
}
.my-modal .modal-wrapper .modal-inner .modal-head .dismis{
position: absolute;
left: 5px;
top: 5px;
font-size: 20px;
background:red;
width: 25px;
height: 25px;
color: #fff;
border-radius: 50%;
/*display: flex;*/
cursor: pointer;
}
.my-modal .modal-wrapper .modal-inner .modal-head .dismis b{
position: absolute;
left: 5px;
top: -2px;
}
.my-modal .modal-wrapper .modal-inner .modal-body{
padding: 12px 0;
position: relative;
border-bottom:1px solid #000;
}
.my-modal .modal-wrapper .modal-inner .modal-foot{
padding: 12px 0;
position: relative;
height: 35px;
}



.unrated{
position: fixed;  
z-index: 999999;
background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
}
.unrated .unrated-wrapper{
width: 350px;
margin: auto;
background:#fff;
border-radius: 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%   RESPONSIVENESS   $$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */




@media (max-width: 992px) {
.categories .content .icons {
  width: 60px;
  height: 60px;
  line-height: 47px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.categories .content .icons i {
  font-size: 3em;
  margin-top: 12px;
}

.categories .content span {
  font-size: 14px;
}
.flash-sale .swiper-slide {
  width: 170px ;
}

.flash-sale .swiper-slide .content {
  height: 170px ;
  width: 170px ;
}
.flash-sale .swiper-slide .content img{
  max-height: 90%;
  padding: auto 0;
}
}

@media (max-width: 768px) {
.slider{
  width: 100%;
}
.my-modal .modal-wrapper{
  width: 320px !important;
}
.slideshow-container {
  height: 230px !important;
  }
.categories .content .icons {
  border-radius: 6px;
  width: 50px;
  height: 50px;
  line-height: 57px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.categories .content .icons i {
  font-size: 2.5em;
  margin-top: 8px;
  color: #1948ff;
}

.categories .content span {
  font-size: 10px;
}
.categories .container {
  width: 100%;
  margin: 0 auto;
}
.flash-sale .swiper-slide {
  width: 140px ;
}

.flash-sale .swiper-slide .content {
  height: 140px ;
  width: 140px ;
}
.flash-sale .swiper-slide .content .text p{
  font-size: 12px;
}
.flash-sale .swiper-slide .content img{
  max-height: 90%;
  padding: auto 0;
}
  .toolbar-inner{
  width: 90%;
}
.product-wrapper .product-inner{
  height: 100px !important;
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.product-wrapper .product-inner .img .pimg-wrapper{
  height: 60px !important;
  width: 60px !important;
}
.product-wrapper .product-inner .img{
  width: 22% !important;
}
.product-wrapper .product-inner .desc{
  width: 48% !important;
}
.product-wrapper .product-inner .pdesc-wrapper{
  font-size: 10px !important;
}
.product-wrapper .product-inner .pdesc-wrapper h3{
  font-size: 15px !important;
}
.product-wrapper .product-inner .pprice{
  width: 29% !important;
}
.handle-counter {
  width: 98px !important;
  margin-top: -20px;
} 
.handle-counter div{
  margin: 0 !important;
}
.pprice-wrapper span{
  margin-left: 0% !important;
}
.product-wrapper .product-inner .pprice{
  padding-left: 5px;
}
.mybtn.pro {
  width: 50px !important;
  margin-top:30px ;
}
.handle-counter{
  margin-top:30px !important;
}
}


@media (max-width: 442px) {
.categories .content span {
  font-size: 8px !important;
}
.categories .container {
  width: 100%;
  margin: 0 auto;
}
.my-modal .modal-wrapper{
  width: 270px !important;
}
.catcon{
  margin: 0 0 !important;
}
.warehouse-form .bfinput{
  padding: 1px !important;
  font-size: 8px !important;
}
.catcon input.bfinput{
  font-size: 10px !important;
}
.catcon .catcardb{
  padding: 2px !important;
}

.flash-sale .swiper-slide {
  width: 90px !important;
}
.swiper-slide{
  margin-left: 5px !important;
}
.flash-sale .swiper-slide .content {
  height: 90px !important;
  width: 90px !important;
}
.flash-sale .swiper-slide .content img{
  height: 90px !important;
  width: 90px !important;
  padding: auto 0;
}
.flash-sale .swiper-slide .content .text p{
  font-size: 9px !important;
}
.flash-sale .swiper-slide .content .text{
  padding: 2px 0 !important;
}
  .toolbar-inner {
  width: 100% !important;
}
.toolbar-inner .tabbar-label{
  font-size: 10px;
  }

.searchbar-inner{
  margin-right:30px !important;
  width:95% !important;
}
.slideshow-container {
  height: 180px !important;
  }
.desc-wrapper .desc-inner.product .img{
  width: 70px;
}
.desc-wrapper .desc-inner.product .img img{
  width: 60px;
  height: auto;
}
.desc-wrapper .desc-inner.product .desc{
  display: inline-block;
  white-space: pre;
}
.desc-wrapper .desc-inner.product .price{
  text-align: center;
  display: inline-block;
}
.desc-wrapper .desc-inner.store {
  font-size: 10px !important;
}
.transaction .tran-wrapper .tranlist-item .price{
  font-size: 12px;
}
.desc-wrapper .desc-inner .img-inner{
  width: 80px;
  height: 80px;
}
.desc-wrapper .desc-inner .items.det-wrapper{
  margin-top: 0px;
  font-size: 12px;
}
.desc-wrapper .desc-inner .icn-wrapper img{
  width: 35px;
}
.add-cash .addcash-item{
  /* width: 32%; */
border: 2px solid #f39c12;
padding: 6px 3px;
margin: 2px 1px;
border-radius: 6px;
color: #000;
}
}
