/*Evone - eCommerce Mobile Template*/

/*table of content

general
button default
overlay
divider
product info
rate product
toolbar & tabbar home
button default
navbar
navbar home
navbar page
sidebar or panel
swiper pagination
slider
categories
flash sale
popular product
product
search
official brand
cart
account buyer
account seller
list
categories details
recommended for you
all categories
wrap space content
product details
product reviews
info product sheet modal
action product details
related products
subnavbar
all reviews
form
settings
edit profile
notification settings
email settings
password settings
help or faq
searchbar
wishlist
blog
pagination
blog single
nottification
checkout
shipping details
shipping options
payment method
sign up
sign in
background color social media
placeholder
transaction
tracking order
shiping information
order history

*/
@font-face {
	font-family: "IRANSans";
	/* src: url("../fonts/iranyekan/IRANYekanRegular.ttf"); */
	src: url("../fonts/vazir/Vazir-FD-WOL.ttf");
}
/*general*/
body {
	font-family: 'IRANSans' !important;
	color: #888;
	font-size: 12px;
	font-weight: 400;
	background: #fff;
}
.alertify{
	font-family: 'IRANSans' !important;

}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 110%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #444;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 17px;
	line-height: 25px;
}

h5 {
	font-size: 16px;
	line-height: 22px;
}

h6 {
	font-size: 14px;
}
 a {
	 display:contents;
 }
p {
	margin: 0;
}

img {
	display: block;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
}

@-moz-document url-prefix() {
	.page-content {
		padding-bottom: 60px !important;
	}

	.page.page-home {
		padding-bottom: 50px !important;
	}

}

.ios a {
	color: #fff;
}

.ios a:focus {
	outline: 0;
}

.ios a.primary-button {
	color: #fff;
}

.ios a.secondary-button {
	color: #1948ff;
}

.page {
	background: #fff;
}

.page.page-home .page-content {
	padding-top: 0;
}

.tab-home {
	will-change: scroll-position;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	height: 100%;
	position: relative;
	z-index: 1;
	padding-bottom: calc(var(--f7-page-toolbar-bottom-offset, 0px) + var(--f7-safe-area-bottom) + var(--f7-page-content-extra-padding-bottom, 0px));
	overflow-x: hidden;
}

.tab-search {
	will-change: scroll-position;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	height: 100%;
	position: relative;
	z-index: 1;
	padding-bottom: calc(var(--f7-page-toolbar-bottom-offset, 0px) + var(--f7-safe-area-bottom) + var(--f7-page-content-extra-padding-bottom, 0px));
	overflow-x: hidden;
}

.segments {
	padding: 5px 0;
}

.segments-bottom {
	padding-bottom: 25px;
}

.section-title {
	margin-bottom: 12px;
}

.section-title h3 {
	font-size: 17px;
	font-weight: 700;
}

.section-title h3 .see-all-link {
	float: right;
	color: #1948ff;
	font-size: 12px;
	font-weight: 500;
}
.row-title {
	margin-bottom: 12px;
}

.row-title h3 {
	font-size: 17px;
	font-weight: 700;
	color: #000 !important;	
	right: 0;
	text-align: right;
}

.row-title h3 .link {
	float: left;
	color: #1948ff;
	font-size: 12px;
	font-weight: 500;
}

.wrap-title {
	margin-bottom: 10px;
}

.title-time {
	margin-bottom: 10px;
}

.title-time span {
	color: #aaa;
	font-size: 11px;
}

.bg-solid-gray {
	background: #f5f5f5 !important;
}

.bg-solid {
	background: #1948ff;
}

.content-shadow {
	box-shadow: 0px 4px 36px -7px rgba(0, 0, 0, 0.12);
}

.content-shadow-product {
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.13);
}

.container {
	padding-left: 12px !important;
	padding-right: 12px !important;
}
.no-pd-b {
	padding-bottom: 0;
}

.no-mb {
	margin-bottom: 0 !important;
}

.row {
	margin-bottom: 1px;
}

.row:last-child {
	margin-bottom: 0;
}

/*overlay*/
.overlay {
	background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64));
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
}

/*divider line*/
.divider-line-half {
	background: #eee;
	width: 100%;
	height: 1px;
	margin: 15px 0;
	display: flex;
}

.divider-line-half.line-search {
	margin-top: 12px;
}

.divider-line-full {
	background: #eee;
	width: 100%;
	height: 1px;
	margin: 20px 0;
	display: flex;
}

/*divider space for content*/
.divider-space-content {
	margin: 10px 0;
	display: flex;
}

/*divider space for text*/
.divider-space-text {
	margin: 5px 0;
	display: flex;
}

/*product info*/
.title-product {
	margin-bottom: 10px;
}

.price {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 700;
	color: #1948ff !important;
}

.location {
	color: #888;
	font-size: 12px;
	font-weight: 500;
}

.location i {
	margin-right: 5px;
}

.date {
	font-size: 11px;
	/* color: #999; */
}

/*rate product*/
.rate-product {
	margin-bottom: 4px;
}

.rate-product li {
	display: inline-block;
	font-size: 9px;
}

.rate-product li i {
	color: orange;
}

/*toolbar & tabbar home*/
.toolbar {
	background: #fff;
	box-shadow: 8px -7px 14px 0 rgba(0, 0, 0, 0.2);
}
.toolbar-inner .tab-link i{
	padding: 5px;
}
.toolbar-inner .tab-link .tabbar-label{
	padding: 5px;

}
.ios .toolbar::before {
	display: none;
}

.ios .toolbar.tabbar-labels a.tab-link {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #888;
}

.ios .toolbar.tabbar-labels a.tab-link.tab-link-active {
	color: #1948ff;
}

/*button default*/
.button {
	background: #1948ff;
	color: #fff;
	border-radius: 3px;
	padding: 0 10px;
	height: 30px;
	line-height: 29px;
	font-size: 13px;
	font-weight: 500;
	border: 0;
}

.button i {
	margin-right: 10px;
}

.button.primary-button {
	border: 1px solid #1948ff;
}

.button.primary-button:focus {
	background: #1948ff !important;
	color: #fff;
	outline: 0;
}

.button.secondary-button {
	background: transparent;
	border: 1px solid #1948ff;
	color: #1948ff;
}

.button.secondary-button:focus {
	border-color: #1948ff !important;
	outline: 0;
}

/*navbar*/
.navbar {
	background: transparent;
}

.navbar .navbar-inner {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
}

.navbar .nav-account-seller {
	padding-top: 0 !important;
}

.navbar .navbar-inner .title {
	font-size: 18px;
	height: 25px;
	color: white;
}

.navbar .navbar-inner .right a {
	color: #aaa;
}
.navbar .navbar-inner .left {
	padding: 10px;
}
.navbar .navbar-inner .left i{
	color: #fff;
	font-size: 18px;
}

.navbar .nav-product-detail a i {
	color: #aaa;
}

/*navbar page*/
.navbar .right a + a {
	margin-left: 15px;
}

.navbar .right a .confirm-changes {
	color: #1948ff;
}

.navbar::after {
	background: #eee !important;
	transform: none !important;
}

.navbar-page {
	box-shadow: 0 6px 15px -5px rgba(0, 0, 0, 0.09) !important;
}

.navbar-page .navbar-inner .right a + a {
	margin-left: 5px !important;
}

.navbar-page::after {
	background: transparent !important;
}

/*navbar home*/
.navbar-home{
	height: 50px;
	width: 100%;
	text-align: left;
}
.img-div {
	width: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
	margin-top: 47px;
}
.img-div img{
	width: 100%;
	position: absolute;
	height: 250px;
	z-index: -1;
}

.navbar-home .navbar-inner .title {
	width: 100%;
	text-align: left;
	height: 30px;
}

.navbar-home .navbar-inner .title h2 {
	color: #fff !important;
	font-size: 24px;
	font-weight: 700;
}

.navbar-home .navbar-inner .right a {
	position: relative;
}

.navbar-home .navbar-inner .right a span {
	display: inline-block;
	background: #ff4141;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar-home::after {
	background: transparent !important;
}

/*sidebar or panel*/
.ios .panel-backdrop {
	background: rgba(0, 0, 0, 0.3);
}

.ios .panel {
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar .item-content .item-media i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #1948ff;
	border-radius: 12px;
	color: #fff;
	font-size: 13px;
}

.sidebar .item-content .item-inner .item-title {
	font-size: 14px;
	font-weight: 500;
}

.sidebar .accordion-list .accordion-item.accordion-item-opened .accordion-item-content {
	border-bottom: 1px solid #eee;
	margin: 0 12px;
}

.sidebar .accordion-list .accordion-item .accordion-item-content {
	margin: 0 12px;
}

.sidebar .accordion-list .accordion-item .accordion-item-content a {
	display: block;
	margin-bottom: 15px;
	font-weight: 500;
}

.sidebar .accordion-list .accordion-item .accordion-item-content a:last-child {
	margin-bottom: 0;
}

.sidebar .accordion-list .accordion-item .accordion-item-content a i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #1948ff;
	border-radius: 12px;
	color: #fff;
	font-size: 13px;
	margin-right: 10px;
}

/*swiper pagination*/
.swiper-container {
	border-radius: 12px;
}
.swiper-container .swiper-pagination{
	text-align: center;
}

.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	width: 7px;
	height: 7px;
}

.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #ff4141;
}

/*--- HOME ---*/

/*slider*/
.slider {
	margin-top: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.slider .swiper-container.swiper-container-horizontal > .swiper-pagination-bullets {
	text-align: left;
	padding-left: 10px;
}

.slider .swiper-slide img {
	width: 100%;
	border-radius: 12px;
	margin: auto;
}

/*categories*/
.categories .row:last-child {
	margin-bottom: 0;
}

.categories .container {
	width: 50%;
	margin: 0 auto;
	text-align: right;
	position: relative;
	right: -10px;
}
.categories .content {
	text-align: center;
	background: #fff;
}
.categories .content a {
	color: #000 !important;
}
.categories .content .icons {
	width: 70px;
	height: 70px;
	line-height: 57px;
	margin: 0 auto;
	margin-bottom: 5px;
}
.categories .content .icons img{
	width: 100%;
	height: 100%;
}

.categories .content .icons i {
	font-size: 3.5em;
	margin-top: 18px;
	color: #1948ff;
}

.categories .content span {
	font-size: 18px;
}

/*flash sale*/
.flash-sale {
	position: relative;
	padding-top: 22px;
}

.flash-sale::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0% 0% 100% 100% / 0% 57% 90% 90%;
	z-index: -1000;
	width: 100%;
	height: 50%;
	background: url(../images/bg-flash-sale.png);
	background-size: cover;
	background-position: center 22%;
}

.flash-sale .swiper-container {
	padding-bottom: 5px;
}

.flash-sale .flash-s-title {
	text-align: center;
	margin-bottom: 0;
}

.flash-sale .flash-s-title h3 {
	margin-bottom: 15px;
	color: #fff;
}

.flash-sale .swiper-slide {
	width: 210px;
}

.flash-sale .swiper-slide .content {
	background: #fff;
	border-radius: 2px;
	text-align: center;
	position: relative;
	height: 200px;
	width: 200px;
	overflow: hidden;
	border: .5px solid #c8c8c861;
}
.flash-sale .swiper-slide .content .img-wrapper{
	height: 80%;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}
.flash-sale .swiper-slide .content .img-wrapper img{
	height: 180px;
	width: 180px;
	/* height: auto; */
	display: block !important;
	margin: auto;
	object-fit:contain;
}
.flash-sale .swiper-slide .content .text{
	position: absolute;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
}

.flash-sale .swiper-slide .content .text p{
	color:rgb(27, 12, 12) !important;
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
}

.flash-sale .swiper-slide .content .product-mark-discount {
	position: absolute;
	top: 0;
	left: 0;
	background: #ffd405;
	border-radius: 12px 0;
	text-align: center;
	color: #1948ff;
	padding: 6px;
}

.flash-sale .swiper-slide .content .product-mark-discount li {
	font-weight: 700;
}

.flash-sale .swiper-slide .content .product-mark-discount li:last-child {
	font-size: 9px;
	font-weight: 400;
}

.flash-sale .swiper-slide .content .text {
	padding: 0;
}

.flash-sale .swiper-slide .content .text p {
	color: #1948ff;
	font-weight: 700;
	font-size: 14px;
}

.flash-sale .swiper-slide .content .text p span {
	color: #666;
	font-size: 13px;
	font-weight: 400;
	margin-left: 5px;
	position: relative;
}

.flash-sale .swiper-slide .content .text p span::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	background: #666;
	height: 1px;
	width: 100%;
}

/*popular product*/
.popular-product.segments-bottom {
	padding-bottom: 23px;
}

.popular-product .swiper-container {
	padding-bottom: 30px;
}

.popular-product .swiper-container > .swiper-pagination-bullets {
	bottom: 0;
}

.popular-product .content {
	background: #fff;
	border-radius: 12px;
}

.popular-product .content img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.popular-product .content .text {
	padding: 10px;
}

/*recommended*/

/*product*/
.product .row:last-child {
	margin-bottom: 0;
}

.product .content {
	background: #fff;
	border-radius: 12px;
	position: relative;
}

.product .content img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.product .content .text {
	padding: 10px;
}

/*--- SEARCH ---*/
.search {
	padding-top: 64px;
}

.search .title-search-category {
	margin-bottom: 10px;
}

.search .title-search-category span {
	color: #aaa;
	font-size: 11px;
}

.search .title-search-category span a {
	float: right;
	color: #1948ff;
	font-size: 12px;
	font-weight: 500;
}

.search .recent-search ul li {
	margin-bottom: 10px;
	font-size: 13px;
}

.search .recent-search ul li i {
	margin-right: 10px;
	font-size: 14px;
}

.search .recent-search ul li:last-child {
	margin-bottom: 0;
}

.search .popular-search ul li {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 2px 10px;
	border-radius: 4px;
	margin: 0 7px 7px 0;
}

/*--- OFFICIAL BRAND ---*/
.official-brand .slider-brand {
	margin-top: 25px;
}

.official-brand .slider-brand .swiper-slide img {
	width: 100%;
	border-radius: 12px;
}

.official-brand .popular-brand .content {
	border: 1px solid #ddd;
	border-radius: 12px;
	padding: 8px;
}

.official-brand .popular-brand .content img {
	width: 100%;
}

.official-brand .brand-promo .content {
	position: relative;
}

.official-brand .brand-promo .content .product-mark-discount {
	position: absolute;
	top: 0;
	left: 0;
	background: #ffd405;
	border-radius: 12px 0;
	text-align: center;
	color: #1948ff;
	padding: 6px;
}

.official-brand .brand-promo .content .product-mark-discount li {
	font-weight: 700;
}

.official-brand .brand-promo .content .product-mark-discount li:last-child {
	font-size: 9px;
	font-weight: 400;
}

/*--- SHOPPING CART ---*/

/*cart*/
.cart .name-store {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.cart .name-store img {
	float: left;
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
	height: 100%;
}

.cart .name-store .title-store {
	overflow: hidden;
	position: relative;
	top: 8px;
}

.cart .row:last-child {
	margin-bottom: 15px;
}

.cart .content-checkbox .checkbox input[type="checkbox"]:checked ~ i {
	background: #1948ff;
	border-color: #1948ff;
}

.cart .content-checkbox .checkbox .icon-checkbox {
	width: 18px;
	height: 18px;
	border-color: #ddd;
}

.cart .content-checkbox .checkbox .icon-checkbox::after {
	width: 18px;
	height: 18px;
	line-height: 18px;
}

.cart .content-cart {
	background: #fff;
	border-radius: 12px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.cart .content-cart img {
	float: left;
	width: 70px;
	height: 100%;
	border-radius: 12px 0 0 12px;
}

.cart .content-cart .product-info {
	overflow: hidden;
	padding: 10px;
}

.cart .content-cart .product-info .price {
	margin-bottom: 0;
}

.cart .content-cart .number-goods {
	position: absolute;
	right: 0;
	bottom: 0;
}

.cart .wrap-total-cart .row {
	margin-bottom: 0;
}

.cart .wrap-total-cart .content-total p {
	font-size: 11px;
	margin-bottom: 5px;
}

.cart .wrap-total-cart .content-total h6 {
	color: #1948ff;
	font-weight: 700;
}

.cart .wrap-total-cart .content-button .button {
	position: relative;
	top: 3px;
}

.checkbox input[type="checkbox"]:checked ~ i {
	background: #1948ff;
	border-color: #1948ff;
}

.stepper {
	border-radius: 12px;
	height: 20px;
	display: flex;
}

.stepper .stepper-button-minus {
	border-radius: 12px 0 0;
	border: 0;
	background: #eee;
	width: 25px;
}

.stepper .stepper-button-minus::after {
	width: 10px;
	height: 2px;
	background: #999;
}

.stepper .stepper-input-wrap {
	border: 0;
}

.stepper .stepper-input-wrap input {
	color: #1948ff;
	font-size: 13px;
	font-weight: 500;
	width: 30px;
}

.stepper .stepper-button-plus {
	border-radius: 0 0 12px 0;
	border: 0;
	background: #eee;
	width: 25px;
}

.stepper .stepper-button-plus::before {
	height: 10px !important;
	height: 2px;
	background: #999;
}

.stepper .stepper-button-plus::after {
	width: 10px;
	height: 2px;
	background: #999;
}

/*--- ACCOUNT ---*/

/*account buyer*/
.account-buyer .header-account {
	padding: 20px 12px;
	background: #fff;
	border-radius: 12px;
	display: flex;
}

.account-buyer .header-account img {
	float: left;
	width: 50px;
	height: 100%;
	border-radius: 50%;
	margin-right: 10px;
}

.account-buyer .header-account .title-name {
	overflow: hidden;
}

.account-buyer .header-account .title-name h5 {
	margin-bottom: 5px;
}

.account-buyer .header-account .title-name p i {
	margin-right: 10px;
}

.account-buyer .info-balance {
	padding: 10px;
	border-radius: 12px;
}

.account-buyer .info-balance .content-text p {
	font-size: 11px;
	margin-bottom: 5px;
}

.account-buyer .info-balance .content-text h5 {
	font-weight: 700;
	color: #1948ff;
}

.account-buyer .info-balance .content-button .button {
	position: relative;
	top: 6px;
}

.account-buyer .account-menu .list ul li:last-child .item-content .item-inner .item-title {
	position: relative;
	top: 5px;
}

.account-buyer .account-menu .item-content .item-media i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #1948ff;
	border-radius: 12px;
	color: #fff;
	font-size: 13px;
}

/*account seller*/
.navbar .nav-account-seller .right .link i {
	position: relative;
	left: 6px;
}

.account-seller .header-account {
	width: 100%;
	height: 150px;
	position: relative;
}

.account-seller .header-account img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.account-seller .header-account .user-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	right: 12px;
}

.account-seller .header-account .user-caption img {
	float: left;
	width: 50px;
	height: 100%;
	border-radius: 50%;
	margin-right: 10px;
}

.account-seller .header-account .user-caption .title-name {
	overflow: hidden;
	color: #fff;
}

.account-seller .header-account .user-caption .title-name h5 {
	color: #fff;
	margin-bottom: 5px;
}

.account-seller .header-account .user-caption .title-name .date {
	margin-bottom: 5px;
	color: #ddd;
}

.account-seller .header-account .user-caption .title-name .total-followers {
	font-weight: 500;
	margin-bottom: 5px;
}

.account-seller .header-account .user-caption .title-name p i {
	margin-right: 10px;
}

.account-seller .header-account .user-button .secondary-button {
	color: #fff;
	border-color: #fff;
}

.account-seller .header-account .header-account-wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.account-seller .header-account .header-account-wrapper .user-button .primary-button {
	margin-bottom: 10px;
}

.account-seller .account-status-info .toolbar {
	box-shadow: none;
	border-bottom: 1px solid #ddd;
}

.account-seller .account-status-info .toolbar .toolbar-inner .tab-link {
	font-size: 14px;
	color: #666;
}

.account-seller .account-status-info .toolbar .toolbar-inner .tab-link.tab-link-active {
	color: #1948ff;
}

.account-seller .account-status-info .category-product-account .content {
	margin-bottom: 15px;
	display: flex;
}

.account-seller .account-status-info .category-product-account .content:last-child {
	margin-bottom: 0;
}

.account-seller .account-status-info .category-product-account .content i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	border-radius: 12px;
	font-size: 24px;
	color: #1948ff;
	float: left;
	margin-right: 10px;
	box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.15);
}

.account-seller .account-status-info .category-product-account .content .content-title {
	overflow: hidden;
}

.account-seller .account-status-info .category-product-account .content .content-title h5 {
	font-size: 14px;
	margin-bottom: 3px;
}

.account-seller .account-status-info .store-info .wrap-info-details ul li {
	margin-bottom: 10px;
	color: #333;
}

.account-seller .account-status-info .store-info .wrap-info-details ul li i {
	margin-right: 10px;
}

.account-seller .account-status-info .store-info .wrap-info-details ul li span {
	margin-left: 5px;
	color: #1948ff;
	font-weight: 500;
}

.account-seller .account-status-info .store-info .wrap-info-details ul li:last-child {
	margin-bottom: 0;
}

.account-seller .account-status-info .store-info .wrap-review .all-rating ul li {
	display: inline-block;
}

.account-seller .account-status-info .store-info .wrap-review .all-rating ul li i {
	font-size: 12px;
	color: orange;
}

.account-seller .account-status-info .store-info .wrap-review .all-rating ul li.rating-total {
	font-size: 13px;
	font-weight: 500;
	margin-left: 10px;
}

.account-seller .account-status-info .store-info .wrap-review .all-rating ul li.rating-total span {
	font-size: 12px;
	color: #888;
	font-weight: 400;
}

.account-seller .account-status-info .store-info .wrap-review .all-rating ul li:last-child {
	float: right;
}

.account-seller .account-status-info .store-info .wrap-review .all-rating ul li:last-child a {
	font-weight: 700;
	color: #1948ff;
}

.account-seller .account-status-info .store-info .wrap-review .discussion {
	margin-top: 10px;
}

.account-seller .account-status-info .store-info .wrap-review .discussion p {
	font-weight: 500;
	color: #333;
}

.account-seller .account-status-info .store-info .wrap-review .discussion p a {
	float: right;
	font-weight: 700;
	color: #1948ff;
}

.account-seller .account-status-info .store-info .wrap-shipping .content img {
	width: 100%;
}

/*list*/
.list {
	margin: 0;
	
}

.list ul::before {
	background: #eee;
}

.list ul::after {
	background: #eee;
	transform: none;
}

.list .item-link {
	color: #333;
}

.list .item-link.active-state {
	background: #fff;
}

.list .item-link.active-state .item-inner::after {
	background: #eee !important;
}

.list .item-content {
	padding-left: 12px;
}

.list .item-content .item-media + .item-inner {
	margin-left: 12px;
}

.list .item-content .item-inner .item-title {
	font-size: 14px;
	color: #333;
}

.list .item-content .item-inner .item-subtitle {
	font-size: 12px;
	color: #888;
}

.list .item-content .item-inner::after {
	background: #eee;
	transform: none;
}

/*categories details*/
.categories-details .swiper-slide img {
	width: 100%;
	border-radius: 12px;
}

.categories-details .sub-categories.segments {
	padding-bottom: 20px;
}

.categories-details .sub-categories .content {
	text-align: center;
}

.categories-details .sub-categories .content .icon {
	background: #fff;
	border-radius: 12px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	margin-bottom: 5px;
	box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.15);
}

.categories-details .sub-categories .content .icon i {
	font-size: 16px;
	width: 33px;
	height: 33px;
	line-height: 32px;
	color: #fff;
	background: #1948ff;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 0;
}

.categories-details .sub-categories .content span {
	font-size: 10px;
}

.categories-details .popular-new-product .swiper-container {
	padding-bottom: 25px;
}

.categories-details .popular-new-product .swiper-container .swiper-slide {
	width: 35%;
}

.categories-details .popular-new-product .swiper-container .swiper-slide .content {
	background: #fff;
	border-radius: 12px;
	position: relative;
}

.categories-details .popular-new-product .swiper-container .swiper-slide .content .product-mark-new {
	position: absolute;
	top: 0;
	left: 0;
	background: #ff4141;
	border-radius: 12px 0;
	text-align: center;
	color: #fff;
	padding: 6px;
}

.categories-details .popular-new-product .swiper-container .swiper-slide .content .product-mark-new span {
	font-size: 9px;
	font-weight: 500;
}

.categories-details .popular-new-product .swiper-container .swiper-slide .content img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.categories-details .popular-new-product .swiper-container .swiper-slide .content .text {
	padding: 10px;
}

/*recommended for you*/
.recommended-you .swiper-container {
	padding-bottom: 25px;
}

.recommended-you .swiper-container .swiper-slide {
	width: 35%;
}

.recommended-you .swiper-container .swiper-slide .content {
	background: #fff;
	border-radius: 12px;
}

.recommended-you .swiper-container .swiper-slide .content img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.recommended-you .swiper-container .swiper-slide .content .text {
	padding: 10px;
}

/*all categories*/
.all-categories .content {
	text-align: center;
}

.all-categories .content i {
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #fff;
	color: #1948ff;
	font-size: 36px;
	border-radius: 12px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.15);
}

.all-categories .content p {
	font-weight: 500;
}

/*wrap space content*/
.wrap-c-margin {
	margin: 12px 0;
}

.wrap-c-padding {
	margin: 10px 0;
}

/*product details*/
.product-details.segments {
	padding-bottom: 50px;
}

.product-details .swiper-slide .content img {
	width: 100%;
	border-radius: 12px;
}

.product-details .wrapper-content .wrap-title-product h4 {
	margin-bottom: 5px;
	font-weight: 400;
}

.product-details .wrapper-content .freeship p {
	color: #333;
	background: #ffd405;
	display: inline-block;
	padding: 3px 10px;
	border-radius: 3px;
}

.product-details .wrapper-content .freeship p i {
	margin-right: 5px;
}

.product-details .wrapper-content .wrap-info {
	margin-top: 15px;
}

.product-details .wrapper-content .wrap-info .list .item-content {
	padding-left: 0;
}

.product-details .wrapper-content .wrap-info .list .item-content .item-inner::before {
	margin-top: -12px;
}

.product-details .wrapper-content .wrap-info .list .item-content .item-row {
	font-size: 13px;
}

.product-details .wrapper-content .wrap-info .list .item-content .item-row .item-cell:first-child {
	color: #888;
}

.product-details .wrap-store {
	background: #f5f5f5;
	padding: 15px 0;
}

.product-details .wrap-store .user-caption img {
	width: 40px;
	height: 100%;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.product-details .wrap-store .user-caption .title-name {
	overflow: hidden;
}

.product-details .wrap-store .user-caption .title-name h4 {
	margin-bottom: 1px;
}

.product-details .wrap-store .user-caption .title-name .date {
	margin-bottom: 5px;
}

.product-details .wrap-store .user-button .primary-button {
	margin-bottom: 10px;
}

.product-details .wrap-store .user-button .secondary-button {
	font-size: 11px;
}

/*product reviews*/
.product-review.segments {
	padding-bottom: 0;
	padding-top: 23px;
}

.product-review .content img {
	width: 28px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.product-review .content .text {
	overflow: hidden;
	position: relative;
}

.product-review .content .text .date {
	position: absolute;
	top: 0;
	right: 20px;
}

.product-review .content .text .like-button {
	position: absolute;
	top: 0;
	right: 0;
}

.view-all-review {
	margin-top: 15px;
	text-align: center;
}

.view-all-review a {
	font-weight: 700;
	color: #1948ff;
}

/*info product sheet modal*/
.sheet-modal {
	background: #eee;
}

.sheet-modal .toolbar .left {
	font-size: 14px;
	font-weight: 500;
}

.sheet-modal .toolbar .right a i {
	color: #1948ff;
}

.sheet-modal .sheet-modal-inner.segments {
	padding: 15px 0 20px;
}

.sheet-modal.specification-sheet .sheet-modal-inner ul li {
	font-size: 13px;
	margin-bottom: 10px;
}

.sheet-modal.specification-sheet .sheet-modal-inner ul li:last-child {
	margin-bottom: 0;
}

.sheet-modal.specification-sheet .sheet-modal-inner ul li span {
	float: right;
	color: #333;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner ul li:first-child {
	overflow: hidden;
	margin-bottom: 15px;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner ul li:first-child .coloro {
	float: right;
	display: flex;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner ul li:first-child .coloro li {
	display: inline-block;
	margin-left: 10px;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner ul li:first-child .coloro li:first-child {
	margin-left: 0;
	margin-bottom: 0;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner .select-color {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner .select-color.bg-black {
	background: #333;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner .select-color.bg-gold {
	background: #db8e29;
}

.sheet-modal.choose-variant-sheet .sheet-modal-inner .select-color.bg-blue {
	background: #212ee3;
}

.sheet-modal:not(.sheet-modal-top)::before {
	display: none;
}

/*action product details*/
.wrap-action-product-d {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px 0 0;
	border-top: 1px solid #eee;
	z-index: 99;
	background: #fff;
	height: 40px;
	box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.11);
}

.wrap-action-product-d .content-message {
	text-align: center;
}

.wrap-action-product-d .content-message i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border-radius: 12px;
	font-size: 14px;
	color: #1948ff;
	vertical-align: top;
	box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.15);
}

/*related products*/
.related-products.segments {
	padding-top: 23px;
}
.related-products .swiper-container {
	padding-bottom: 5px;
}

.related-products .swiper-slide {
	width: 37%;
}

.related-products .swiper-slide .content {
	background: #fff;
	border-radius: 12px;
	position: relative;
}

.related-products .swiper-slide .content img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.related-products .swiper-slide .content .text {
	padding: 10px;
}

/*subnavbar*/
.subnavbar {
	background: #fff;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.03);
}

.subnavbar:before {
	display: none;
}

.subnavbar:after {
	display: none;
}

.subnavbar .subnavbar-inner {
	padding: 0 12px;
}

/*all reviws*/
.all-rating ul li {
	display: inline-block;
}

.all-rating ul li i {
	font-size: 12px;
	color: orange;
}

.all-rating ul li.rating-total {
	font-size: 13px;
	font-weight: 500;
	margin-left: 10px;
}

.all-rating ul li.rating-total span {
	font-size: 12px;
	color: #888;
	font-weight: 400;
}

.all-reviews.segments {
	padding-bottom: 25px;
}

/*form*/
form.list ul .item-content {
	padding-left: 0;
}

form.list ul .item-content .item-inner {
	padding: 0;
}

form.list ul .item-content .item-inner .item-input-wrap {
	margin-top: 0;
	margin-bottom: 10px;
}

form.list ul .item-content .item-inner .item-input-wrap input {
	font-size: 13px;
	border: 1px solid #ccc;
	background: transparent;
	border-radius: 5px;
	padding: 0 10px;
	height: 34px;
	color: #666;
	transition: all .2s ease;
}

form.list ul .item-content .item-inner .item-input-wrap input:focus {
	border-color: #1948ff;
}

form.list ul .item-content .item-inner .item-input-wrap textarea {
	font-size: 13px;
	border: 1px solid #ccc;
	background: transparent;
	border-radius: 5px;
	padding: 5px 10px 0;
	color: #666;
	transition: all .2s ease;
}

form.list ul .item-content .item-inner .item-input-wrap textarea:focus {
	border-color: #1948ff;
}

form.list ul .item-content .item-inner .item-input-wrap select {
	font-size: 13px;
	border: 1px solid #ccc;
	background: transparent;
	border-radius: 5px;
	padding: 0 10px;
	height: 34px;
	color: #666;
	transition: all .2s ease;
}

form.list ul .item-content .item-inner .item-input-wrap select:focus {
	border-color: #1948ff;
}

form.list ul .item-content .item-inner::after {
	display: none;
}

form.list ul::before {
	display: none;
}

form.list ul::after {
	display: none;
}

/*settings*/
.settings .list .item-content .item-media i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #1948ff;
	border-radius: 12px;
	color: #fff;
	font-size: 13px;
}

.settings .list .item-content .item-inner .item-title {
	font-size: 14px;
	font-weight: 500;
	color: #333;
}

.settings .list .smart-select .item-after {
	font-size: 14px;
}

.ios .icon-radio::after {
	color: #1948ff;
}

/*edit profile*/
.edit-profile .photo-edit img {
	width: 50px;
	height: 100%;
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}

.edit-profile .photo-edit .side-content {
	overflow: hidden;
}

.edit-profile .photo-edit .side-content input {
	display: none;
}

.edit-profile .photo-edit .side-content .button {
	width: auto;
	margin-top: 5px;
}

.edit-profile .banner-edit input {
	display: none;
}

.edit-profile .banner-edit .button {
	width: auto;
	margin-top: 5px;
}

.edit-profile .banner-edit img {
	width: 100%;
	margin-top: 10px;
}

/*notification settings*/
.notification-settings .list .item-content .item-inner .item-title {
	font-size: 13px;
	color: #666;
}

.ios .item-after .toggle {
	height: 22px;
	width: 46px;
}

.ios .item-after .toggle .toggle-icon {
	height: 22px;
	width: 46px;
}

.ios .item-after .toggle .toggle-icon::before {
	height: 18px;
	width: 42px;
}

.ios .item-after .toggle .toggle-icon::after {
	width: 18px;
	height: 18px;
}

.ios .item-after .toggle input[type="checkbox"]:checked + .toggle-icon {
	background: #1948ff;
}

.ios .item-after .toggle input[type="checkbox"]:checked + .toggle-icon::after {
	transform: translateX(calc(50px - 26px));
}

/*email settings*/
.email-settings .content h6 {
	margin-bottom: 10px;
}

.email-settings .content h6 span {
	font-size: 11px;
	background: #eee;
	border-radius: 3px;
	color: #1948ff;
	padding: 1px 5px;
	margin-left: 5px;
}

.email-settings .content h6 span i {
	margin-right: 5px;
}

.email-settings .content h6 a {
	float: right;
	color: #1948ff;
	font-size: 12px;
}

.email-settings .content p {
	font-size: 13px;
	color: #333;
}

/*faq*/
.faq .list .item-content .item-media i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #1948ff;
	border-radius: 12px;
	color: #fff;
	font-size: 13px;
}

.faq .list .item-content .item-inner .item-title {
	font-weight: 500;
}

.faq .list .accordion-item-content {
	font-size: 13px;
	padding-left: 42px;
}

.faq .list .accordion-item-content a {
	display: block;
	margin-bottom: 10px;
}

.faq .list .accordion-item-content a:last-child {
	margin-bottom: 0;
}

/*searchbar*/
.ios .searchbar {
	background: #fff;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.03);
}

.ios .searchbar .searchbar-input-wrap input {
	font-size: 13px;
	background: #eee;
}

.ios .searchbar:before {
	display: none;
}

.ios .searchbar:after {
	display: none;
}

.ios .searchbar .searchbar-disable-button {
	color: #1948ff;
	font-size: 14px;
}

/*wishlist*/
.wishlist .product .content {
	position: relative;
}

.wishlist .product .content .love-button {
	position: absolute;
	top: 0;
	right: 0;
	background: #1948ff;
	border-radius: 0 12px;
	color: #fff;
	padding: 8px;
}

.wishlist .product .content .love-button i {
	font-size: 15px;
}

/*blog*/
.blog .content {
	background: #fff;
	border-radius: 12px;
	position: relative;
}

.blog .content .blog-category {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #1948ff;
	padding: 2px 10px;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.blog .content img {
	width: 100%;
	border-radius: 12px 12px 0 0;
}

.blog .content .text {
	padding: 10px;
}

.blog .content .text h5 {
	font-size: 14px;
	margin-bottom: 10px;
}

.blog .content .text .date {
	margin-bottom: 10px;
}

.blog .content .text .wrap-blog-action ul li {
	display: inline-block;
	margin-right: 10px;
}

.blog .content .text .wrap-blog-action ul li i {
	margin-right: 3px;
	color: #1948ff;
}

/*pagination*/
.pagination {
	text-align: center;
}

.pagination ul li {
	display: inline-block;
	margin: 0 13px;
	font-size: 13px;
	font-weight: 500;
}

.pagination ul li a {
	color: #666;
}

.pagination ul li.pagination-active {
	width: 26px;
	height: 26px;
	line-height: 26px;
	background: #1948ff;
	text-align: center;
	border-radius: 50%;
}

.pagination ul li.pagination-active a {
	color: #fff;
}

/*blog single*/
.blog-single .content-title .blog-category {
	margin-bottom: 10px;
}

.blog-single .content-title .blog-category span {
	background: #1948ff;
	padding: 2px 10px;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	font-size: 11px;
}

.blog-single .content-title h5 {
	margin-bottom: 10px;
}

.blog-single .content-title ul li {
	display: inline-block;
}

.blog-single .content-title ul li:last-child {
	float: right;
	font-weight: 500;
}

.blog-single .content-title ul li:last-child span {
	color: #1948ff;
	margin-left: 2px;
}

.blog-single .content-image img {
	width: 100%;
}

.blog-single .content-desc .see-too {
	margin: 15px 0 10px;
}

.blog-single .content-desc .see-too p {
	font-weight: 500;
	color: #666;
	margin-bottom: 6px;
}

.blog-single .content-desc .see-too a h6 {
	color: #1948ff;
}

.blog-single .content-tags ul li {
	display: inline-block;
	margin-right: 2px;
	font-weight: 500;
}

.blog-single .content-tags ul li a {
	color: #1948ff;
}

.blog-single .content-tags ul li:first-child {
	color: #666;
}

.blog-single .content-tags ul li:last-child {
	margin-bottom: 0;
}

.blog-single .comment-people .content img {
	float: left;
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.blog-single .comment-people .content .text {
	overflow: hidden;
}

.blog-single .comment-people .content .text h6 {
	margin-bottom: 5px;
}

.blog-single .comment-people .content .text .date {
	margin-bottom: 5px;
}

.blog-single .comment-people .view-all-comment {
	margin-top: 15px;
	text-align: center;
}

.blog-single .comment-people .view-all-comment a {
	font-weight: 700;
	color: #1948ff;
}

/*notification*/
.notifi .content img {
	width: 40px;
	height: 100%;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}

.notifi .content .text {
	overflow: hidden;
}

.notifi .content .text h6 {
	margin-bottom: 5px;
}

.notifi .content .text h6 span {
	font-size: 13px;
	font-weight: 400;
	margin-left: 10px;
	color: #1948ff;
}

.notifi .content .text h6 span {
	font-weight: 500;
}

/*checkout*/
.checkout .wrap-info-checkout h6 {
	margin-bottom: 5px;
}

.checkout .wrap-info-checkout h6 a {
	float: right;
	color: #1948ff;
	font-size: 12px;
}

.checkout .content-cart {
	margin-bottom: 15px;
}

.checkout .content-cart:last-child {
	margin-bottom: 5px;
}

.checkout .wrap-total-checkout .row {
	margin-bottom: 0;
}

.checkout .wrap-total-checkout .content-total p {
	font-size: 11px;
	margin-bottom: 5px;
}

.checkout .wrap-total-checkout .content-total h6 {
	color: #1948ff;
	font-weight: 700;
}

.checkout .wrap-total-checkout .content-button .button {
	position: relative;
	top: 3px;
}

/*shipping details*/
.shipping-details .attention-information span {
	font-size: 11px;
}

.shipping-details .button-confirm .button {
	margin-top: 10px;
}

/*shipping options*/
.shipping-options .content {
	display: flex;
	margin-bottom: 15px;
}

.shipping-options .content img {
	width: 40px;
	height: 100%;
	float: left;
	margin-right: 10px;
}

.shipping-options .content .title-name {
	overflow: hidden;
}

.shipping-options .content .title-name h6 {
	font-size: 13px;
	color: #666;
}

/*payment method*/
.payment-method .wrap-payment-list h6 span {
	color: #999;
}

/*sign in*/
.sign-up .wrap-sign-up-with {
	text-align: center;
}

.sign-up .wrap-sign-up-with .title {
	position: relative;
	margin-bottom: 10px;
}

.sign-up .wrap-sign-up-with .title p {
	display: inline;
	background: #fff;
	padding: 0 10px;
}

.sign-up .wrap-sign-up-with .title span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	background: #ddd;
	width: 100%;
	height: 1px;
	z-index: -1;
}

.sign-up .wrap-sign-up-with .wrap-media-sign-up .content {
	background: #1948ff;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-radius: 3px;
}

.sign-up .wrap-sign-up-with .wrap-media-sign-up .content i {
	color: #fff;
	font-size: 16px;
	position: relative;
}

.sign-up .wrap-link-sign-up {
	text-align: center;
}

.sign-up .wrap-link-sign-up p a {
	margin-left: 5px;
	font-weight: 500;
	color: #1948ff;
}

/*sign in*/
.sign-in .list .item-content .item-inner .item-input-wrap:last-child {
	margin-bottom: 0;
}

.sign-in .wrap-link-action ul li {
	display: inline-block;
}

.sign-in .wrap-link-action ul li:last-child {
	float: right;
	position: relative;
	top: 9px;
}

.sign-in .wrap-link-action ul li:last-child a {
	font-size: 12px;
	font-weight: 500;
	color: #1948ff;
}

.sign-in .wrap-link-action .item-checkbox {
	padding-left: 0;
}

.sign-in .wrap-link-action .item-checkbox input[type="checkbox"]:checked ~ i {
	background: #1948ff;
	border-color: #1948ff;
}

.sign-in .wrap-link-action .item-checkbox .icon-checkbox {
	width: 18px;
	height: 18px;
	border-color: #ddd;
	margin-right: 10px;
}

.sign-in .wrap-link-action .item-checkbox .icon-checkbox::after {
	width: 18px;
	height: 18px;
	line-height: 18px;
}

.sign-in .wrap-link-action .item-content .item-inner .item-title {
	font-size: 12px;
}

.sign-in .wrap-sign-in-with {
	text-align: center;
}

.sign-in .wrap-sign-in-with .title {
	position: relative;
	margin-bottom: 10px;
}

.sign-in .wrap-sign-in-with .title p {
	display: inline;
	background: #fff;
	padding: 0 10px;
}

.sign-in .wrap-sign-in-with .title span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	background: #ddd;
	width: 100%;
	height: 1px;
	z-index: -1;
}

.sign-in .wrap-sign-in-with .wrap-media-sign-in .content {
	background: #1948ff;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-radius: 3px;
}

.sign-in .wrap-sign-in-with .wrap-media-sign-in .content i {
	color: #fff;
	font-size: 16px;
	position: relative;
}

.sign-in .wrap-link-sign-in {
	text-align: center;
}

.sign-in .wrap-link-sign-in p a {
	margin-left: 5px;
	font-weight: 500;
	color: #1948ff;
}

/*background color social media*/
.bg-facebook {
	background: #3b5999 !important;
}

.bg-twitter {
	background: #55acee !important;
}

.bg-google {
	background: #dd4b39 !important;
}

/*placeholder*/
::-webkit-input-placeholder {
	color: #888 !important;
}

::-moz-placeholder {
	color: #888 !important;
}

:-ms-input-placeholder {
	color: #888 !important;
}

:-moz-placeholder {
	color: #888 !important;
}

/*transaction*/
.transaction .content-image img {
	width: 100%;
	border-radius: 12px;
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.13);
}

.transaction .content-info {
	text-align: center;
}

.transaction .content-info .transaction-status {
	font-size: 9px;
}

.transaction .content-info .transaction-status i {
	color: #1948ff;
	margin-right: 3px;
}

/*tracking order*/
.tracking-order .wrap-title a {
	float: right;
	color: #1948ff;
	font-size: 12px;
	font-weight: 700;
}

.tracking-order .content span {
	display: inline-block;
	font-weight: 500;
	color: #333;
	margin-bottom: 5px;
}

.tracking-order .content span i {
	color: #1948ff;
	margin-right: 6px;
}

.tracking-order .content-total ul li {
	margin-bottom: 5px;
	color: #333;
}

.tracking-order .content-total ul li span {
	float: right;
	font-size: 13px;
	font-weight: 500;
}

.tracking-order .content-total ul li:last-child {
	margin-bottom: 0;
	font-weight: 500;
}

.tracking-order .content-total ul li:last-child span {
	color: #1948ff;
}

/*shipping information*/
.shipping-information .timeline {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.shipping-information .timeline .timeline-item .timeline-item-divider {
	margin-left: 0;
	margin-top: 6px;
}

.shipping-information .timeline .timeline-item .timeline-item-title {
	font-size: 14px;
	color: #333;
}

.shipping-information .timeline .timeline-item .timeline-item-text {
	color: #666;
}

.shipping-information .timeline .timeline-item .timeline-item-time {
	margin-top: 5px;
}

.shipping-information .timeline .timeline-item.info-active .timeline-item-divider {
	background: #1948ff;
}

.shipping-information .timeline .timeline-item.info-active .timeline-item-title {
	color: #1948ff;
}

/*order history*/
.order-history .content img {
	width: 100%;
	border-radius: 12px;
}

.order-history .add-action p {
	position: relative;
	top: 6px;
}

.order-history .content-right p {
	color: #333;
}

.order-history .content-right .price {
	margin-bottom: 0;
}

.order-history .content-right .button {
	width: calc(100% - 80px);
}








.row {
	margin-right: 15px;
	margin-left: 15px;
  }
  .row-no-gutters {
	margin-right: 0;
	margin-left: 0;
  }
  .row-no-gutters [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
  }
  .col-25{
	  width: 23.5%;
	  display: inline-block;
  }
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
  }
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
	float: left;
  }
  .col-xs-12 {
	width: 100%;
  }
  .col-xs-11 {
	width: 91.66666667%;
  }
  .col-xs-10 {
	width: 83.33333333%;
  }
  .col-xs-9 {
	width: 75%;
  }
  .col-xs-8 {
	width: 66.66666667%;
  }
  .col-xs-7 {
	width: 58.33333333%;
  }
  .col-xs-6 {
	width: 50%;
  }
  .col-xs-5 {
	width: 41.66666667%;
  }
  .col-xs-4 {
	width: 33.33333333%;
  }
  .col-xs-3 {
	width: 25%;
  }
  .col-xs-2 {
	width: 16.66666667%;
  }
  .col-xs-1 {
	width: 8.33333333%;
  }
  .col-xs-pull-12 {
	right: 100%;
  }
  .col-xs-pull-11 {
	right: 91.66666667%;
  }
  .col-xs-pull-10 {
	right: 83.33333333%;
  }
  .col-xs-pull-9 {
	right: 75%;
  }
  .col-xs-pull-8 {
	right: 66.66666667%;
  }
  .col-xs-pull-7 {
	right: 58.33333333%;
  }
  .col-xs-pull-6 {
	right: 50%;
  }
  .col-xs-pull-5 {
	right: 41.66666667%;
  }
  .col-xs-pull-4 {
	right: 33.33333333%;
  }
  .col-xs-pull-3 {
	right: 25%;
  }
  .col-xs-pull-2 {
	right: 16.66666667%;
  }
  .col-xs-pull-1 {
	right: 8.33333333%;
  }
  .col-xs-pull-0 {
	right: auto;
  }
  .col-xs-push-12 {
	left: 100%;
  }
  .col-xs-push-11 {
	left: 91.66666667%;
  }
  .col-xs-push-10 {
	left: 83.33333333%;
  }
  .col-xs-push-9 {
	left: 75%;
  }
  .col-xs-push-8 {
	left: 66.66666667%;
  }
  .col-xs-push-7 {
	left: 58.33333333%;
  }
  .col-xs-push-6 {
	left: 50%;
  }
  .col-xs-push-5 {
	left: 41.66666667%;
  }
  .col-xs-push-4 {
	left: 33.33333333%;
  }
  .col-xs-push-3 {
	left: 25%;
  }
  .col-xs-push-2 {
	left: 16.66666667%;
  }
  .col-xs-push-1 {
	left: 8.33333333%;
  }
  .col-xs-push-0 {
	left: auto;
  }
  .col-xs-offset-12 {
	margin-left: 100%;
  }
  .col-xs-offset-11 {
	margin-left: 91.66666667%;
  }
  .col-xs-offset-10 {
	margin-left: 83.33333333%;
  }
  .col-xs-offset-9 {
	margin-left: 75%;
  }
  .col-xs-offset-8 {
	margin-left: 66.66666667%;
  }
  .col-xs-offset-7 {
	margin-left: 58.33333333%;
  }
  .col-xs-offset-6 {
	margin-left: 50%;
  }
  .col-xs-offset-5 {
	margin-left: 41.66666667%;
  }
  .col-xs-offset-4 {
	margin-left: 33.33333333%;
  }
  .col-xs-offset-3 {
	margin-left: 25%;
  }
  .col-xs-offset-2 {
	margin-left: 16.66666667%;
  }
  .col-xs-offset-1 {
	margin-left: 8.33333333%;
  }
  .col-xs-offset-0 {
	margin-left: 0%;
  }
  @media (min-width: 768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
	  float: left;
	}
	.col-sm-12 {
	  width: 100%;
	}
	.col-sm-11 {
	  width: 91.66666667%;
	}
	.col-sm-10 {
	  width: 83.33333333%;
	}
	.col-sm-9 {
	  width: 75%;
	}
	.col-sm-8 {
	  width: 66.66666667%;
	}
	.col-sm-7 {
	  width: 58.33333333%;
	}
	.col-sm-6 {
	  width: 50%;
	}
	.col-sm-5 {
	  width: 41.66666667%;
	}
	.col-sm-4 {
	  width: 33.33333333%;
	}
	.col-sm-3 {
	  width: 25%;
	}
	.col-sm-2 {
	  width: 16.66666667%;
	}
	.col-sm-1 {
	  width: 8.33333333%;
	}
	.col-sm-pull-12 {
	  right: 100%;
	}
	.col-sm-pull-11 {
	  right: 91.66666667%;
	}
	.col-sm-pull-10 {
	  right: 83.33333333%;
	}
	.col-sm-pull-9 {
	  right: 75%;
	}
	.col-sm-pull-8 {
	  right: 66.66666667%;
	}
	.col-sm-pull-7 {
	  right: 58.33333333%;
	}
	.col-sm-pull-6 {
	  right: 50%;
	}
	.col-sm-pull-5 {
	  right: 41.66666667%;
	}
	.col-sm-pull-4 {
	  right: 33.33333333%;
	}
	.col-sm-pull-3 {
	  right: 25%;
	}
	.col-sm-pull-2 {
	  right: 16.66666667%;
	}
	.col-sm-pull-1 {
	  right: 8.33333333%;
	}
	.col-sm-pull-0 {
	  right: auto;
	}
	.col-sm-push-12 {
	  left: 100%;
	}
	.col-sm-push-11 {
	  left: 91.66666667%;
	}
	.col-sm-push-10 {
	  left: 83.33333333%;
	}
	.col-sm-push-9 {
	  left: 75%;
	}
	.col-sm-push-8 {
	  left: 66.66666667%;
	}
	.col-sm-push-7 {
	  left: 58.33333333%;
	}
	.col-sm-push-6 {
	  left: 50%;
	}
	.col-sm-push-5 {
	  left: 41.66666667%;
	}
	.col-sm-push-4 {
	  left: 33.33333333%;
	}
	.col-sm-push-3 {
	  left: 25%;
	}
	.col-sm-push-2 {
	  left: 16.66666667%;
	}
	.col-sm-push-1 {
	  left: 8.33333333%;
	}
	.col-sm-push-0 {
	  left: auto;
	}
	.col-sm-offset-12 {
	  margin-left: 100%;
	}
	.col-sm-offset-11 {
	  margin-left: 91.66666667%;
	}
	.col-sm-offset-10 {
	  margin-left: 83.33333333%;
	}
	.col-sm-offset-9 {
	  margin-left: 75%;
	}
	.col-sm-offset-8 {
	  margin-left: 66.66666667%;
	}
	.col-sm-offset-7 {
	  margin-left: 58.33333333%;
	}
	.col-sm-offset-6 {
	  margin-left: 50%;
	}
	.col-sm-offset-5 {
	  margin-left: 41.66666667%;
	}
	.col-sm-offset-4 {
	  margin-left: 33.33333333%;
	}
	.col-sm-offset-3 {
	  margin-left: 25%;
	}
	.col-sm-offset-2 {
	  margin-left: 16.66666667%;
	}
	.col-sm-offset-1 {
	  margin-left: 8.33333333%;
	}
	.col-sm-offset-0 {
	  margin-left: 0%;
	}
  }
  @media (min-width: 992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
	  float: left;
	}
	.col-md-12 {
	  width: 100%;
	}
	.col-md-11 {
	  width: 91.66666667%;
	}
	.col-md-10 {
	  width: 83.33333333%;
	}
	.col-md-9 {
	  width: 75%;
	}
	.col-md-8 {
	  width: 66.66666667%;
	}
	.col-md-7 {
	  width: 58.33333333%;
	}
	.col-md-6 {
	  width: 50%;
	}
	.col-md-5 {
	  width: 41.66666667%;
	}
	.col-md-4 {
	  width: 33.33333333%;
	}
	.col-md-3 {
	  width: 25%;
	}
	.col-md-2 {
	  width: 16.66666667%;
	}
	.col-md-1 {
	  width: 8.33333333%;
	}
	.col-md-pull-12 {
	  right: 100%;
	}
	.col-md-pull-11 {
	  right: 91.66666667%;
	}
	.col-md-pull-10 {
	  right: 83.33333333%;
	}
	.col-md-pull-9 {
	  right: 75%;
	}
	.col-md-pull-8 {
	  right: 66.66666667%;
	}
	.col-md-pull-7 {
	  right: 58.33333333%;
	}
	.col-md-pull-6 {
	  right: 50%;
	}
	.col-md-pull-5 {
	  right: 41.66666667%;
	}
	.col-md-pull-4 {
	  right: 33.33333333%;
	}
	.col-md-pull-3 {
	  right: 25%;
	}
	.col-md-pull-2 {
	  right: 16.66666667%;
	}
	.col-md-pull-1 {
	  right: 8.33333333%;
	}
	.col-md-pull-0 {
	  right: auto;
	}
	.col-md-push-12 {
	  left: 100%;
	}
	.col-md-push-11 {
	  left: 91.66666667%;
	}
	.col-md-push-10 {
	  left: 83.33333333%;
	}
	.col-md-push-9 {
	  left: 75%;
	}
	.col-md-push-8 {
	  left: 66.66666667%;
	}
	.col-md-push-7 {
	  left: 58.33333333%;
	}
	.col-md-push-6 {
	  left: 50%;
	}
	.col-md-push-5 {
	  left: 41.66666667%;
	}
	.col-md-push-4 {
	  left: 33.33333333%;
	}
	.col-md-push-3 {
	  left: 25%;
	}
	.col-md-push-2 {
	  left: 16.66666667%;
	}
	.col-md-push-1 {
	  left: 8.33333333%;
	}
	.col-md-push-0 {
	  left: auto;
	}
	.col-md-offset-12 {
	  margin-left: 100%;
	}
	.col-md-offset-11 {
	  margin-left: 91.66666667%;
	}
	.col-md-offset-10 {
	  margin-left: 83.33333333%;
	}
	.col-md-offset-9 {
	  margin-left: 75%;
	}
	.col-md-offset-8 {
	  margin-left: 66.66666667%;
	}
	.col-md-offset-7 {
	  margin-left: 58.33333333%;
	}
	.col-md-offset-6 {
	  margin-left: 50%;
	}
	.col-md-offset-5 {
	  margin-left: 41.66666667%;
	}
	.col-md-offset-4 {
	  margin-left: 33.33333333%;
	}
	.col-md-offset-3 {
	  margin-left: 25%;
	}
	.col-md-offset-2 {
	  margin-left: 16.66666667%;
	}
	.col-md-offset-1 {
	  margin-left: 8.33333333%;
	}
	.col-md-offset-0 {
	  margin-left: 0%;
	}
  }
  @media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
	  float: left;
	}
	.col-lg-12 {
	  width: 100%;
	}
	.col-lg-11 {
	  width: 91.66666667%;
	}
	.col-lg-10 {
	  width: 83.33333333%;
	}
	.col-lg-9 {
	  width: 75%;
	}
	.col-lg-8 {
	  width: 66.66666667%;
	}
	.col-lg-7 {
	  width: 58.33333333%;
	}
	.col-lg-6 {
	  width: 50%;
	}
	.col-lg-5 {
	  width: 41.66666667%;
	}
	.col-lg-4 {
	  width: 33.33333333%;
	}
	.col-lg-3 {
	  width: 25%;
	}
	.col-lg-2 {
	  width: 16.66666667%;
	}
	.col-lg-1 {
	  width: 8.33333333%;
	}
	.col-lg-pull-12 {
	  right: 100%;
	}
	.col-lg-pull-11 {
	  right: 91.66666667%;
	}
	.col-lg-pull-10 {
	  right: 83.33333333%;
	}
	.col-lg-pull-9 {
	  right: 75%;
	}
	.col-lg-pull-8 {
	  right: 66.66666667%;
	}
	.col-lg-pull-7 {
	  right: 58.33333333%;
	}
	.col-lg-pull-6 {
	  right: 50%;
	}
	.col-lg-pull-5 {
	  right: 41.66666667%;
	}
	.col-lg-pull-4 {
	  right: 33.33333333%;
	}
	.col-lg-pull-3 {
	  right: 25%;
	}
	.col-lg-pull-2 {
	  right: 16.66666667%;
	}
	.col-lg-pull-1 {
	  right: 8.33333333%;
	}
	.col-lg-pull-0 {
	  right: auto;
	}
	.col-lg-push-12 {
	  left: 100%;
	}
	.col-lg-push-11 {
	  left: 91.66666667%;
	}
	.col-lg-push-10 {
	  left: 83.33333333%;
	}
	.col-lg-push-9 {
	  left: 75%;
	}
	.col-lg-push-8 {
	  left: 66.66666667%;
	}
	.col-lg-push-7 {
	  left: 58.33333333%;
	}
	.col-lg-push-6 {
	  left: 50%;
	}
	.col-lg-push-5 {
	  left: 41.66666667%;
	}
	.col-lg-push-4 {
	  left: 33.33333333%;
	}
	.col-lg-push-3 {
	  left: 25%;
	}
	.col-lg-push-2 {
	  left: 16.66666667%;
	}
	.col-lg-push-1 {
	  left: 8.33333333%;
	}
	.col-lg-push-0 {
	  left: auto;
	}
	.col-lg-offset-12 {
	  margin-left: 100%;
	}
	.col-lg-offset-11 {
	  margin-left: 91.66666667%;
	}
	.col-lg-offset-10 {
	  margin-left: 83.33333333%;
	}
	.col-lg-offset-9 {
	  margin-left: 75%;
	}
	.col-lg-offset-8 {
	  margin-left: 66.66666667%;
	}
	.col-lg-offset-7 {
	  margin-left: 58.33333333%;
	}
	.col-lg-offset-6 {
	  margin-left: 50%;
	}
	.col-lg-offset-5 {
	  margin-left: 41.66666667%;
	}
	.col-lg-offset-4 {
	  margin-left: 33.33333333%;
	}
	.col-lg-offset-3 {
	  margin-left: 25%;
	}
	.col-lg-offset-2 {
	  margin-left: 16.66666667%;
	}
	.col-lg-offset-1 {
	  margin-left: 8.33333333%;
	}
	.col-lg-offset-0 {
	  margin-left: 0%;
	}
  }

  .pagination {
	display: inline-block;
  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
  }
  .pagination a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .pagination a {
	border-radius: 5px;
	transition: background-color .3s;
	border: 1px solid #ddd; /* Gray */
  }
  
  .pagination a.active {
	border-radius: 5px;
  }
  .pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  

 
 
 .big-box{
 	max-width: 600px;
 	margin-top: 50px;
 	position: relative;
 	margin-left: auto;
 	margin-right: auto;

 }
 .nav-titr{
 	width: 100%;
 	position: fixed;
 	top: 0;
 	z-index: 999;
	height: 47px;
	
 }

 .top-titr{
 	color: white;
 	font-size: 22px;
 	text-align: center;
 }
 .top-titr ,p{
 	color: white;
 	display: inline-block;
 	padding: 10px;
 }
 .bolder{
 	font-size: 22px;
 	margin-right: 28px;
 }
 
 .toggle{
 	background: white;
 	float: left;
 	height: 37px;
	width: 125px;
 	margin-top: 6px;
 	border-radius: 1px 35px 35px 1px;
 	border: 1px solid #d4d9d5;
 	z-index: -1;
 	margin-top: 5px;
 }
 
 .checker{
 	font-size: 16px;
 	float: left;
 	margin-left: auto;
 	margin-left: auto;
 	color: #ed097f;
 	margin-left: 20px;
 	padding: 6px;
 }
 .sub-toggle{
 	background: #ed097f;
 	float: right;
 	height: 80%;
 	width: 30px;
 	margin-top: 4px;
 	border-radius: 60px;
 }
 .on-toggle{
 	background: white;
 	float: left;
 	max-width: 100px;
 	min-width: 85px;
 	height: 37px;
	width: 90%;
 	margin-top: 11px;
 	border-radius: 1px 35px 35px 1px;
 	border: 1px solid #d4d9d5;
 	z-index: -1;
 }
 .on-checker{
 	font-size: 16px;
 	float: left;
 	margin-left: auto;
 	margin-left: auto;
 	color: #42f587;
 	margin-left: 20px;
 	padding: 6px;
 }
 .on-sub-toggle{
 	background: #42f587;
 	float: right;
 	height: 80%;
 	width: 30px;
 	margin-top: 4px;
 	border-radius: 60px;
 }
 .row.img .card{
 	margin-top: 2px;
 	background: white;
 }
 .row.img .person{
 	margin-right: auto;
 	margin-left: auto;
 	 }
 .row.img .avatar{
 	width: 40%;
 	height: 40%;
 	margin-right: auto;
 	margin-left: auto;
 	margin-bottom: 5px;
 	 }
 .row.img .card p,a{
 	color: #333131;
 	text-align: center;
 	font-size: 12px;
 	font-weight: bold;
 	margin-bottom: 5px;
 }

 .row.img .card .p-person-name{
 	color: #333131;
 	font-weight: bold;
 	margin-top: 0;
 	margin-bottom: 0;
 }
 .row.img .card .p-person-enter{
 	margin-top: 6px;
 }
 .row.img .card .nmb{
 	color:#2b368c;
 	font-weight: bold;
 	padding-bottom: 0;
 	margin-bottom: 0;
 	line-height: 0;
	font-size: 18px;
	margin-top:20px;
 }
 .row.img .card .const{
 	margin-top: 10px;
 	color: #8e8e94;
 	font-weight: bold;
 }

.hrz-img{
	width: 40px;
	height: 40px;
	display: inline-block !important;
}
.hrz-p{
	color: #323236;
	margin-right: 12px;
	margin-top: 25px;
	display: inline-block;
}
.row.hrz .scard{
	background: white;
	border: 1px solid #d6d2d2;
	height: 70px;
	border-radius: 2px;
}

.row .t{
	background: white;
	border: 1px solid #d6d2d2;
	border-radius: 4px;
}
.title-body{
	color: black;
	font-size: 14px;
	text-align: right;
}
.title-body-right{
	color: #285e9b;
	font-size: 13px;
	float: right;
	margin-top: 10px;
}
.title-body-left{
	color: #285e9b;
	font-size: 13px;
	float: left;
	margin-top: 10px;
}
.news{
	bottom: 0;
	color: #3669a2;
	font-size: 13px;
	text-align: center;
	padding: 10px;
}
.text-body{
	color: black;
	font-size: 13px;
	text-align: right;
	padding-bottom: 2px;
}
.row .s{
	background: white;
	height: auto;
	border: 1px solid #d6d2d2;
	border-radius: 4px;
	padding-bottom: 8px;

}
.row .s img{
	width: 30%;
	height: auto;
	margin: auto;
	margin-top: 10px;
}
.row .s div{
	color: #11b6d4;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	margin-bottom: 15px;
}
.row .progress{
	background: white;
	height: 100px;
	width: 150px;
	border-radius: 4px;
	border: 1px solid #d6d2d2;
	position: relative;
}
.p-progress{
	color: #1926e0;
	text-align: right;
	margin: 22px 0 5px 20px;
	font-size: 14px;
	float: right;
	position: absolute;
	right: 6px;	
}
.row .progress-div{
	float: left;
	width: 80px;
	height: auto;
	position: absolute;
	left: 0;	
}
.p-progress-div{
	color: #1926e0;
	font-size: 16px;
	position: relative;
	top:35px;
	right: 10px;
}
.row .progress img{
	height: auto;
	width: 30px;
	float: left;
	margin: 20px 0 5px 15px;
}
.blue-bar{
	width: 94%;
	height: 40px;
	position: absolute;
	bottom: 0;
}
#prg-value{
	width: 100%;
	height: 14px;
	background:#ebe6e6;
	position: relative;
	right: 0;
}
.right-number{
	float: right;
	color: #285e9b;
	font-size: 16px;
	margin-top: 5px;
}
.left-number{
	float: left;
	margin-top: 5px;
	color: #285e9b;
	font-size: 16px;
}
.footer-div{
	margin: auto;
	max-width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.footer-div div{
	flex-grow: 1;
/*	margin: 3px 6px;*/
	margin-top: 3px;
	text-align: center;
	margin-bottom: 3px;
}
.footer-div div i{
	color:#999;
	font-size: 25px;
	line-height: 1.2 !important;
}
.footer-div .active-icon a{
	color:rgb(75, 116, 230) !important;
}
.footer-div .active-icon{
	color: rgb(75, 116, 230) !important;
}
.footer-div a:hover{
	color:rgb(75, 116, 230) !important;
}
.footer-div i:hover{
	color:rgb(75, 116, 230) !important;
}
.footer-div .active-icon i{
	color:rgb(75, 116, 230) !important;
}
.footer-wrapper{
	width: 100%;
	background: white;
	bottom: 0;
	right: 0;
	position: fixed;
}


.footer-div img{
	width: 25px;
	height: auto;
	margin: auto;
}
.footer-div .home{
	background: white;
	height: 100%;
	width: 100px;
	float: right;
	position: relative;
}
.footer-div .products{
	background: white;
	height: 100%;
	width: 100px;
	float: right;
	position: relative;
	margin-right: 177px;
}
.footer-div .sales{
	background: white;
	height: 100%;
	width: 100px;
	float: right;
	position: relative;
	margin-right: 185px;
}
.footer-div .comments{
	background: white;
	height: 100%;
	width: 100px;
	float: left;
	margin-left: 183px;
}
.footer-div .services{
	background: white;
	height: 100%;
	width: 100px;
	float: left;
	
}
/*login page for desktop*/
.container-box{
	width: 100%;
	height: auto;
	position: relative;
}
.wellcome{
	display: block;
	margin-top: 4px;
}
.wellcome span{
	width: 100%;
	height:auto;
	color: #226394;
	font-weight:bolder;
	font-size: 17px;
	text-align: center;
	float: right;
	margin-bottom: 7px;
	margin-top: 80px;
}

.logo-image{
	max-width: 220px;
	height: auto;
	margin: auto;
	margin-top: 30px;
}
.logo-image img{
	width: 100%;
	height: auto;
	float: right;

}
.enter-phone-number-message{
	width: 100%;
	height: auto;
	text-align: center;
	float: right;
	margin-top: 5px;
}
.enter-phone-number-message span {
    font-weight: 900;
    font-size: 18px;
    color: #838587;
    margin-right: auto;
    margin-left: auto;
}
.input-phone-number{
	width: 100%;
	height: auto;
	text-align: center;
	float: right;
	margin-top: 10px;
}
.input-phone-number .getnumber{
    font-weight: bold;
    border-radius: 8px;
    direction: ltr;
    font-size: 24px;
    text-align: center;
    color: #65676a;
    margin-top: 0;
    margin-bottom: 0;
	width: 32%;
	height: 34px;
    padding: 0px 10px;
    background: #f7f7f7;
    outline: none;
    box-shadow: 0px -4px 11px -5px #888;
}

.box-assurance{
	width: 67%;
	height: 25px;
	margin: auto;
	margin-top: 3px;
}
.assurance-image{
	float: right;
	height: 22px;
	width: 22px;
	margin-left: 5px;
}
.assurance-image img{
	height: 100%;
	width: 100%;
}
.assurance-message img{
	width: 22px;
	height: 22px;
	margin-left: 4px;
	display: inline-block;
}
.assurance-message{
	color: #3d62ad;
	font-size: 12px;
	text-align: center;
	display: inline-block;
}
.continue-btn{
	margin :auto;
	width: 100%;
	height: 32px;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 10px;
}
.continue-btn button{
	width: 80px;
	height: 100%;
	margin: 14px auto;
	border-radius: 20px;
	color: white;
	font-size: 16px;
	border: none;
	background: #3dd9eb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(360deg, #5fe5f5, #5fe5f5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(360deg, #66dfed, #0cbacf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.footer-image img{
	height: 88px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

/*second register page*/
.big-div-second-page{
	width: 100%;
	height: auto;
	margin: auto;

}
.register-message {
	margin-top: 14%;
	width: 100%;
	height:auto;
	color: #2f3030;
	text-align: center;
	float: right;
}
.register-message span{
	color: #2f3030;
	font-weight:bolder;
	font-size: 30px;
}
.compietion-message{

	width: 100%;
	height: auto;
	text-align: center;
	float: right;
	margin-top: 40px;
}
.compietion-message span{
	font-size: 18px;
	color: #484a4a;
	margin-right: auto;
	margin-left: auto;
}
.inputs-box{
	margin-top: 20px;
	width: 100%;
	height: auto;
	float: right;
}
.inputs-box input[type="text"]{
	width: 40%;
	height: 45px;
	margin: auto;
	border-radius:20px;
	display: block;
	color: #636666;
	margin: 14px auto;
	padding: 0px 22px;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	direction: rtl;
	box-shadow: 0px -4px 11px -5px #888;
}
input[type=text], select.cities {
	  width: 40%;
	  height: 45px;
	  margin: 14px auto;
	  padding: 0px 22px;
	  display: block;
	  font-weight: bold;
	  border-radius:20px;
	  font-size: 16px;
	  outline: none;
	  direction: rtl;
	  color: #aab5b5;
	  border: none;
	  box-shadow: 0px -4px 11px -5px #888;
}
.accept-message{
	width: 38%;
	height: auto;
	margin: 2px auto;
}

.check-div{
	height: 58px;
	width: 18px;
	margin: auto;
	float: right;
}

.accept-message span{
	color: #426bdb;
	font-size: 12px;
}
.register-btn{
	margin :auto;
	width: 12%;
	height: 35px;
	margin-top: 30px;
}
.register-btn button{
	width: 80%;
	height: 100%;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	border: none;
background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

}

/*this style for progfile page*/
.container-div{
	width: 100%;
	height: auto;
	z-index: 99999;
}

.top-gradient{
	top: 0;
	width: 100%;
	height: 427px;
	z-index: -1;
	position: relative;
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #00d2ff,#3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #00d2ff,#3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle-div{
	width: 100%;
	height: 200px;
	top: 40px;
	position: absolute;
	z-index: -1;
}
.profile-image{
	overflow: hidden;
    width: 62px;
    height: 62px;
    border-radius: 50%;
	margin: 10px auto;
}
.profile-image .person{
	width: 100%;
	height: 100%;
}
.center-circle{
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top,  #3a7bd5,#00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top,#3a7bd5,#00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.center-circle input[type="file"] {
    display: none;
}
.circle-div label{
	display: contents;
}

.center-circle img{
	/* display: contents; */
	width: 100%;
	height: 100%;
}
.profile-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 auto;
	transform: translate(-83px,193px);
	border:2px solid #00d2ff; 
	background: #3a7bd5;
}
.profile-img img{
	width: 90%;
	height: 55%;
	margin: 8px auto;
}
.person-name-profile{
	width: 100%;
	height: 50px;
	margin-top: 25px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: white;
}
.big-info-box{
	position: relative;
}
.info-box{
	width: 100%;
	height: auto;
	position: absolute;
	top: -53px;
	z-index: -1;

}
.top-info-box{
	width: 60%;
	height:auto;
	background: white;
	margin: 0 auto;
	border-radius: 4px;
	padding: 0;
}
.bottom-info-box{
	width: 60%;
	height:35px;
	background:#ed4046;
	margin: 0 auto;
	border-radius: 4px;
	bottom: 0;
}
.row.top .three-box{
	height: 80px;
	padding: 0;
}
.three-box-img{
	height: auto;
	display: inline-block;
}
.right-box-img {
    width: 60px;
    height: auto;
    margin-right: 30px;
    margin:0;
    float: right;
    transform: translate(0px,11px);
    padding: 0;
}
.text-div{
	width: 68%;
	height: auto;
	float: left;
}
.text-div h5{
	display: block;
	margin-top: 26px;
	font-size: 16px;
}
.text-div h6{
	display: block;
	color: #807e7a;
	font-size: 14px;
}

.img-sign {
    width: 25px;
    height: 25px;
	transform: translate(-22px,6px);
}
.bottom-info-box .defect-message{
	color: white;
	margin: -7px 55px;
	font-size: 11px;
	line-height: 0;
	display: block;

}
.row.profile{
	width: 100%;
	height: auto;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
.row.profile.nodefects{
	margin-top: 30px !important;
}
.row.profile .title{
	width: 65%;
	height: 80px;
	text-align: center;
	position: relative;
}
.row.profile h5{
	color: #575759;
	font-size: 16px;
	font-weight: bold;
	line-height: 0;
	margin: 39px 0;
}

.row.profile hr{
  border: 0;
  display:block;
  width: 96%;               
  background-color:#c4cccc;
  height: 1px;
  margin: auto;
  margin-right: 16px;
}
.profile-box{
	height: auto;
	width: 60%;
	background: white;
	border-radius: 4px;
	margin: auto;
	box-shadow: -3px 4px 6px -3px #888;
}
.person-info{
	width: 100%;
	height: auto;
}
.row.txt .text-info h4 {
    font-weight: bold;
    display: inline-block;
	margin: 0;
	color: #444;
    font-size: 16px;
}
.input-person-info{
	width: 100%;
	height: auto;
	display: none;
}
.row.txt select{
	width: 80%;
}
.row.txt{
	width: 100%;
	height: auto;
	margin: auto;
	margin-right: 20px;
}
.row.txt input[type="text"]{
	width: 80%;
	height: 28px;
	margin:3px 0;
	display: block;
	border-radius: 5px;
	padding: 2px;
	font-size: 10px;
	box-shadow: none;
	border: 1px solid #bcbbbf;
	color: #6d6d73;
	padding-right: 9px;
}
.row.txt .text-info h5{
	font-weight: bold;
	display: inline-block;
	margin: 22px 0;
	font-size: 16px;
}
.row.txt .text-info h6{
	display: inline-block;
	color: #a1a6a6;
	font-size: 14px;
	font-weight: bold;
}


.row.professional .one{
	width: 100%;
	height: auto;
}
.row.professional .img-input{
	width:60px;
	height: 50px;
	float: left;
	border-radius: 5px;
}
.img-input label{
	display: contents;
}
.row.professional .img-input input[type="file"] {
    display: none;
}
.img-input img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.row.professional .two{
	width: 100%;
	height: auto;
	border-right: 4px solid #c2c2d1;
	margin-top:0px;
	border-radius: 2px;

}
.row.professional .two h5{
	font-weight: bold;
	display: inline-block;
	margin: 22px 0;
	font-size: 16px;
	line-height: .1;
}
.row.professional .two h6{
	display: inline-block;
	margin: 22px 0;
	font-size: 14px;
	color: #a1a6a6;
	line-height: .1;
	font-weight: bold;
}

.row.professional .three{
	width: 100%;
	height: auto;
	border-right: 4px solid #c2c2d1;
	margin-top:18px;
	border-radius: 2px;

}
.row.professional .three h5{
	font-weight: bold;
	display: inline-block;
	margin: 22px 0;
	font-size: 16px;
	line-height: .1;
}
.row.professional .three h6{
	display: inline-block;
	margin: 22px 0;
	font-size: 14px;
	color: #a1a6a6;
	line-height: .1;
	font-weight: bold;
}


.row.professional .four{
	width: 100%;
	height: auto;
	

}
.row.professional .four h5{
	font-weight: bold;
	display: inline-block;
	margin: 22px 0;
	font-size: 16px;
}
.row.professional .four h6{
	display: inline-block;
	margin: 22px 0;
	font-size: 14px;
	color: #a1a6a6;
	font-weight: bold;
}


.row.professional .one h5{ 
	font-weight: bold;
	display: inline-block;
	margin-top: 18px;
	font-size: 16px;
	margin-bottom: 12px;
} 
.row.professional .one h6{
	display: inline-block;
	color: #a1a6a6;
	font-size: 14px;
	font-weight: bold;
}
.row.professional-merge .one{
	width: 100%;
	height: auto;
	background: red;
	border-right: 2px solid #9898b3;
}
.row.profile-nexts .title{
	width: 65%;
	height: 80px;
	text-align: center;
}
.row.profile-nexts{
	width: 100%;
	height: auto;
	background: white;
	margin: auto;
	margin-top: 12px;
	border-radius: 4px;
}
.title .fa.fa-edit{
	color: #1a5091;
	float: left;
	line-height: 0;
	margin-left: 8px;
	font-size: 30px;
}
.row.profile-nexts h5{
	color: #575759;
	font-size: 16px;
	font-weight: bold;
	line-height: 0;
	margin: 39px 0;
}
.row.profile-nexts .fa.fa-pencil{
	color: red;
	float: left;
}
.row.profile-two hr{
  border: 0;
  display:block;
  width: 96%;               
  background-color:#c4cccc;
  height: 1px;
  margin: auto;
  margin-right: 16px;
}
.row.professional .documnets{
	height: auto;
	width: 100%;
}
.row.professional .documents h5{
	color: #3b3a3d;
	font-weight: bold;
	margin: 18px 0;
	font-size: 16px;
}
.show_container{
	width: 100%;
	height: auto;
}
.hidden_container{
	width: 100%;
	height: auto;
	display: none;
}
.row.professional input[type="text"]{
	font-size: 11px;
	float: right;
	color:#444;
	width: 100%;
	margin: 3px 0;
	box-shadow: none;
	border: 1px solid #b0adad;
	border-radius: 3px;
}
@media(max-width: 442px){
	.row.professional input[type="text"]{
	margin:5px 0;
	font-size: 10px;
}
.title-body-right{
	font-size: 11px;
}
.title-body-left{
	font-size: 11px;
}
.news{
	font-size: 11px;
}

}
.row.professional .adress{
	height: auto;
}
.row.professional .adress h5{
	color: #3b3a3d;
	font-weight: bold;
	margin: 18px 0;
	font-size: 16px;
	display: inline-block;
}
.row.professional .adress h6{
	color: #a1a6a6;
	margin: 18px 0;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
}

.row.professional .documents .fa.fa-check{
	color: #35ab5e;
	margin-left: 3px;
}
.row.professional .documents .fa.fa-times{
	color: #cc2b48;
	margin-left: 8px;
}
.row.professional .documents .fa.fa-clock{
	color: #cc2b48;
	margin-left: 8px;
}
.row.txt{
	width: 100%;
}
.row.txt h5{
	font-weight: bold;
	display: inline-block;
	margin: 18px 0;
	font-size: 16px;
}
.row.txt h6{
	font-size: 14px;
	color: #a1a6a6;
	font-weight: bold;
	display: inline-block;
}
.div-menu{
	width: 32%;
	height: auto;
	float: left;
	margin-left: 8%;
	margin-top: 60px;
}
.background-menu{
	width: 100%;
	height: 100%;
	display: none;
}
.container-profile-box{
	width: 100%;
	height: auto;
	margin: auto;
	position: absolute;
	z-index: -10;
}
.background-menu ul{
	list-style-type: none;
	padding: 0;
	margin: 10px 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: white;
	border-radius: 4px;
	border: 1px solid #b5b3ae;
}
.background-menu li a{
  display: block;
  color: #3b3a3d;
  padding: 8px 16px;
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
  border:1px solid white;
  font-size: 15px;
}
.menu-img{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 7px;
}
.menu-img img{
	width: 28px;
	height: auto;
	float: left;
}
.div-arrow{
	width: 5%;
	height: 80px;
	float: right;
	margin-right: 8%;
	margin-top: 60px;
	z-index: 99999;
}
.arrow-img{
	width: 100%;
	height: auto;
	float: right;
}
.arrow-img img{
	width: 28px;
	height: auto;
	float: right;
}
.down-btn-record{
	width: 60%;
	height: 40px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.down-btn-record button{
	width: 100%;
	height: 100%;
	background: #3875e8;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	display: none;
}
.row.professional select{
	width: 100%;
	margin:12px 0 0 0;
	padding-right: 8px;
	font-size: 12px;
	height: 32px;
}
.container-assurance-message{
	width: 85%;
	margin:0 auto;
	height: auto;
	max-width: 442px;
}
/*end of progfile page*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*this style for media device*/






@media (max-width: 992px) {
	.enter-phone-number-message span {
    font-size: 14px;
}
.down-btn-record{
	width: 80%;
}
.wellcome span{
	margin-top: 30px;
}
.input-phone-number .getnumber{
    font-size: 20px;
    width: 42%;
	padding: 1px 5px;
	max-width: 352px;
}
.assurance-message{
	font-size: 10px;
}
/*.continue-btn{
	width: 14%;
	height: 30px;
	margin-top: 10px;
}*/
/*.continue-btn button{
	font-size: 18px;
}*/


/*second page register*/
.register-message span {
    font-size: 25px;
}
.compietion-message span {
    font-size: 16px;
}
.inputs-box input[type="text"] {
    font-size: 14px;
    width: 52%;
}
input[type="text"], select.cities {
	font-size: 14px;
	width: 52%;
	}
.accept-message span {
    font-size: 10px;
}
.register-btn button {
	font-size: 13px;
	}
	.check-box-login{
	margin-top: 5px;
}
.accept-message{
	width: 50%;
}
/*profile page*/
.right-box-img {
    width: 60px;
}
.top-info-box{
	width: 80%;
}
.bottom-info-box{
	width: 80%;
}
.profile-box{
	width: 80%;
}
.text-div h5{
	font-size: 16px;
}
.text-div h5{
	font-size: 14px;
}

.center-circle{
	height: 170px;
	width: 170px;
}
.profile-img img {
    width: 90%;
    height: 55%;
    margin: 8px auto;
}
.profile-img {
    width: 38px;
    height: 42px;
    transform: translate(-50px,77px);
}
.top-gradient{
	height: 308px;
}
.circle-div{
	top: 20px;
}
.person-name-profile{
	font-size: 19px;
	height: 35px;
	margin-top: 16px;
}

.profile-img {
    width: 32px;
    height: 36px;
    transform: translate(-54px,118px);
}

.circle-div{
	top: 20px;
}
.menu-img img{
	width: 24px;
}
.div-menu{
	width: 33%;
	max-width: 28%;
	margin-left: 6%;
	margin-top: 50px;
}
.background-menu li a{
  font-size: 12px;
  margin: 0;
  padding: 8px 12px;
} 
.arrow-img img {
    width: 24px;
}
.div-arrow{
	margin-top: 50px;
}


}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/


@media (max-width: 768px) {
.footer-image img {
	height: 80px;
	width: 100%;
}
.container-assurance-message {
	width: 94%;
}
.wellcome span{
	margin-top: 40px;
}
.logo-image{
	width: 160px;
	min-width: 150px;
}
.row.txt .text-info h4{
	font-size: 14px;
}
.row.txt h5{
	font-size: 12px; 
	margin: 0 6px 12px 0;
}
.down-btn-record{
	width: 90%;
}
.row.profile{
	margin-top: 37px;
}
.input-phone-number {
    width: 100%;
    margin-top: 7px;
}
.row.profile.nodefects{
	margin-top: 1px !important;
}
	.enter-phone-number-message span {
    font-size: 14px;
}
.input-phone-number .getnumber{
    font-size: 20px;
    width: 60%;
	padding: 0px 10px;
	height: 34px;
}
.box-assurance{
	width: 48%;
}
.assurance-message{
	font-size: 9px;
}
/*.continue-btn{
	height: 25px;
	width: 12%;
}
.continue-btn button{
	font-size: 16px;
}*/


/*second register page*/
.register-message span {
    font-size: 22px;
}
.compietion-message span {
    font-size: 14px;
}
.inputs-box input[type="text"] {
    font-size: 12px;
    width: 52%;
}
input[type="text"], select.cities {
	font-size: 12px;
	width: 52%;
	}
.accept-message span {
    font-size: 10px;
}
.register-btn button {
	font-size: 10px;
	width: 95%;
	}

	.register-btn {
    height: 30px;
    margin-top: 20px;
}
.check-box-login{
	margin-top: 5px;
}
/*end of second register page*/
.right-box-img {
    width: 39px;
}
.top-info-box{
	width: 90%;
}
.bottom-info-box{
	width: 90%;
}
.profile-box{
	width: 90%;
}
.text-div h5{
	font-size: 12px;
}
.text-div h6{
	font-size: 10px;
}
.right-box-img {
    transform: translate(0px,23px);
}

.row.profile h5{
	font-size: 14px;
}
.row.profile-nexts h5{
	font-size: 14px;
}
.row.txt .text-info h5{
	font-size:12px;
}
.row.txt .text-info h6{
	font-size:11px;
}
.row.professional .one h5{
	font-size: 12px;
}
.row.professional .one h6{
	font-size: 11px;
}
.row.professional .two h5{
	font-size: 12px;
}
.row.professional .two h6{
	font-size: 11px;
}

.row.professional .four h5{
	font-size: 12px;
}
.row.professional .four h6{
	font-size: 11px;
}
.row.professional .three h5{
	font-size: 12px;
}
.row.professional .three h6{
	font-size: 11px;
}
.row.professional .documents h5{
	font-size: 12px;
}
.row.professional .adress h5{
	font-size: 12px;
}
.row.professional .adress h6{
	font-size: 11px;
}
.row.profile .title{
	width: 95%;
}
.row.profile-nexts .title{
	width: 95%;
}
.title .fa.fa-edit{
	font-size: 24px;
}

.center-circle{
	height: 140px;
	width: 140px;
}
.profile-img img {
    width: 90%;
    height: 55%;
    margin: 8px auto;
}
.profile-img {
    width: 32px;
    height: 36px;
    transform: translate(-50px,77px);
}
.top-gradient{
	height: 262px;
}
.circle-div{
	top: 20px;
}
.person-name-profile{
	font-size: 18px;
	height: 33px;
	margin-top: 10px;
}

.profile-img img {
    width: 90%;
    height: 55%;
    margin: 8px auto;
}
.profile-img {
    width: 28px;
    height: 32px;
    transform: translate(-54px,98px);
}

.circle-div{
	top: 20px;
}
.person-name-profile{
	font-size: 18px;
	height: 33px;
	margin-top: 10px;
}
.menu-img img{
	width: 19px;
}
.div-menu{
	width: 36%;
	max-width: 30%;
	margin-left: 6%;
	margin-top: 40px;
}
.background-menu li a{
  font-size: 10px;
  margin: 0;
  padding: 5px 9px;
} 
.arrow-img img {
    width: 21px;
}
.div-arrow{
	margin-top: 40px;
}




}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/




@media (max-width: 442px) {
.container-assurance-message{
	width: 100%;

	}
 .toggle{
 	background: white;
 	float: left;
 	height: 25px;
 	width: 70px;
 	
 }
 .checker{
 	font-size: 9px;
 	float: left;
 	margin-left: auto;
 	color: #ed097f;
 	margin-left: 5px;
 }
 .sub-toggle{
 	background: #ed097f;
 	float: right;
 	height: 85%;
 	width: 20px;
 	border-radius: 10px;
 	margin: auto;
 	margin-top: 2px;

 }
 .top-titr{
 	color: white;
 	font-size: 12px;
 	
 }
 .titr-day{
 	font-size: 12px;
 }
  

 .bolder{
 	font-size: 15px;
	 margin-right: 8px;
	 padding-left: 0;
 }

 .row.img .card
{
	margin-top: 0;
 	background: white;
 }
 .row.img .avatar{
 	width: 40%;
 	height: 40%;
 	margin-top: 5px;
 	margin-right: auto;
 	margin-left: auto;
 	 }

 .row.img .card p{
 	color: 403333;
 	text-align: center;
 	font-size: 60%;
 	margin-top: 19px;
 	padding:0;
	 margin-bottom: 5px;
	 font-size: 10px;
 }
 .row.img .card .nmb{
 	color:#2b368c;
 	font-weight: bold;
 	padding-bottom: 0;
 	margin-bottom: 0;
 	line-height: 0;
 	font-size: 14px;
 }
 .row.img .card .const{
 	margin-top: 10px;
 }
.row.hrz p{
	font-size: 10px;
}


.row.hrz .scard{
	background: white;
	border: 1px solid #d6d2d2;
	height: 60px;
	border-radius: 2px;
}

.hrz-img{
	width: 30px;
	height: auto;
}

.hrz-p{
	color: #323236;
	font-size: 10px;
	margin-right: 3px;
	margin-top: 18px;
}

.title-body{
	font-size: 9px;
}
.text-body{
	color: black;
	font-size: 9px;
}
.row .s img{
	width: 45%;
	margin-top: 8px;
}
.row .s div{
	margin-top: 10px;
	font-size: 8px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}
.row .s .tlonger{
	margin-top: 10px;
	font-size: 8px;
	text-align: center;
	margin-bottom: 10px;
}
.row .s{
	padding-right: 1px;
	padding-left: 0;
}
.p-progress {
    margin: 30px 7px 4px 4px;
    font-size: 10px;
    }

.p-progress-div {
    font-size: 10px;
    top: 38px;
	right: 34px;
}

.row .progress img {
    margin: 9px 0px 0px 10px;
}
.row .progress img{
	height: auto;
	width: 20px;
	float: left;
	margin: 27px 0 0px 12px;
}
.blue-bar{
	margin-right: 2px;
	width: 90%;
}
#prg-value {
    height: 6px;
}
.right-number{
	font-size: 10px;
}
.left-number{
	font-size: 10px;
}
.footer-div img {
    margin-top: 4px;
}
.footer-div div {
    flex-grow: 1;
    margin-top: 3px ;
    font-size: 10px;
}

		/*this styles for dashboardpage


.row.img .person {
    width: 40%;
    height: 40%;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}
.row.img .card .p-person-name{
 	padding:8px;
 }
 .row.img .card .p-person-enter{
 	margin-top: 0;
 }
.title-body-right{
	color: #285e9b;
	font-size: 10px;
	float: right;
	margin-top: 10px;
}
.title-body-left{
	color: #285e9b;
	font-size: 10px;
	float: left;
	margin-top: 10px;
}
.news{
	bottom: 0;
	color: #3669a2;
	font-size: 10px;
	text-align: center;
	padding-bottom: 6px;
}


/*first login page......*/

.wellcome span{
	width: 100%;
	height:auto;
	color: #226394;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	float: right;
	margin-bottom: 8px;
	margin-top: 5px;
}

.logo-image{
	height: auto;
	margin-top: 0;
	width: 150px;
}
.logo-image img{
	width: 100%;
	height: 100%;
	float: right;

}
.enter-phone-number-message{

	width: 100%;
	height: auto;
	text-align: center;
	float: right;
	margin-top: 4px;
}
@media(max-width:442px){
	.footer-image img {
		height: 80px;
		width: 100%;
	}
}
.enter-phone-number-message span{
	font-weight: 900;
	font-size: 12px;
	color: #838587;
	margin-right: auto;
	margin-left: auto;
}
.input-phone-number{
	width: 100%;
	height: auto;
	text-align: center;
	float: right;
	margin-top: 7px;
}
.input-phone-number input[type="text"]{
	font-weight: bold;
	border-radius: 10px;
	direction: ltr;
	font-size: 18px;
	color: #65676a;
	margin-top: 0;
	margin-bottom: 0;
	width: 62%;
	padding: 0px 10px;
	background: #f7f7f7;
	box-shadow: 0px -4px 11px -5px #888;


}
.box-assurance{
	width: 72%;
	height: 28px;
	margin-top: 5px;
}
.assurance-image{
	height: 100%;
	width: 18px;
	margin-left: 4px;
}
.assurance-image img{
	height: 80%;
	width: 100%;
}
.assurance-message{
	color: #3d62ad;
	font-size: 9px;
}
/*.continue-btn{
	height: 20px;
	width: 16%;
}
.continue-btn button{
	font-size: 8px;
}*/
.footer-image{
	height: 100px;
	width: 100%;
	margin-top: 10px;
}


/*second login page*/
.accept-message{
	width: 64%;
}
.register-message span {
    font-size: 13px;
}
.compietion-message span {
    font-size: 10px;
}
.inputs-box input[type="text"] {
	width: 68%;
    font-size: 8px;
    padding: 0px 16px;
    height: 30px;
}
input[type="text"], select.cities {
	width: 68%;
	font-size: 8px;
	padding: 0px 16px;
	height: 30px;
	}
.accept-message span {
    font-size: 10px;
}
.register-btn button {
	font-size: 8px;
	width: 95%;
	}

	.register-btn {
    height: 30px;
    margin-top: 20px;
    width: 17%;
}
.check-div {
    height: 58px;
}
.check-box-login{
	margin-top: 5px;
}
/*end of second login page*/



/*profile page*/

.right-box-img {
    width: 24px;
}
.top-info-box{
	width: 92%;
}
.bottom-info-box{
	width: 92%;
}
.profile-box{
	width: 92%;
}
.text-div h5{
	font-size: 10px;
}
.text-div h6{
	font-size: 7px;
}
.text-div{
	margin: -18px 0;
}
.row.top .three-box{
	height: 50px;
}
.right-box-img {
    transform: translate(0px,15px);
}
.bottom-info-box .defect-message {
    margin: -6px 36px;
    }
.bottom-info-box .defect-message{
	font-size: 9px;
}
.row.profile h5{
	font-size: 12px;
	margin: 18px 0;
}
.row.profile-nexts h5{
	font-size: 12px;
	margin: 18px 0;
}
.row.txt .text-info h5{
	font-size:11px;
	padding-right: 0px;
	margin: 5px 0;
}
.row.txt .text-info h6{
	font-size:10px;
	margin: 8px 0;
}
.row.professional .one h5{
	font-size: 11px;
	margin: 8px 0;
}
.row.professional .one h6{
	font-size: 10px;
	margin: 8px 0;
}
.row.professional .two h5{
	font-size: 10px;
	margin: 8px 0;
}
.row.professional .two h6{
	font-size: 9px;
	margin: 8px 0;
}

.row.professional .four h5{
	font-size: 10px;
	margin: 5px 0 0 0;
}
.row.professional .four h6{
	font-size: 9px;
	margin: 8px 0;
}
.row.professional .three h5{
	font-size: 9px;
	margin: 8px 0;
}
.row.professional .three h6{
	font-size: 9px;
	margin: 8px 0;
}
.row.professional .documents h5{
	font-size: 11px;
	margin: 8px 0;
}
.row.professional .adress h5{
	font-size: 10px;
	margin: 8px 0;
}
.row.professional .adress h6{
	font-size: 10px;
	margin: 8px 0;
}
.row.profile .title{
	width: 95%;
	padding: 0;
	height: 38px;
}
.row.profile-nexts .title{
	width: 95%;
	padding: 0;
	height: 38px;
}
.title .fa.fa-edit{
	font-size: 20px;
}
.img-sign {
	width: 18px;
	height: 19px;
	transform: translate(-13px,4px);
 }
.info-box {
    width: 100%;
    top: -40px;
}
.bottom-info-box {
    height: 28px;
}
.row.profile{
	margin-top: 41px;
}
.row.profile.nodefects{
	margin-top: 12px !important;
}
.row.txt{
	margin-right: 12px;
	height: auto;
}
.row.txt .text-info{
	margin: 0;
	padding: 0;
}
.row.txt{
	margin: 0;
	width: 100%;
	padding-right: 0;
}
.row.txt h5{
	font-size: 11px; 
	margin: 0 0 6px 0;
}
.row.txt h6{
	font-size: 10px;
}
.center-circle{
	height: 100px;
	width: 100px;
}
.profile-img img {
    width: 90%;
    height: 55%;
    margin: 8px auto;
    transform: translate(0px,-2px);
}
.profile-img {
    width: 23px;
	height: 27px;
	transform: translate(-44px,63px);
}
.top-gradient{
	height: 198px;
}
.circle-div{
	top: 20px;
}
.person-name-profile{
	font-size: 15px;
	height: 33px;
	margin-top: 8px;
}
.menu-img img{
	width: 18px;
}
.div-menu{
	width: 40%;
	max-width: 38%;
	margin-left: 6%;
	margin-top: 30px;
}
.background-menu li a{
  font-size: 9px;
  margin: 0;
  padding: 5px 9px;
} 
.arrow-img img {
    width: 20px;
}
.div-arrow{
	margin-top: 30px;
}
.down-btn-record{
	width: 92%;
}
.row.txt .text-info h4{
	font-size: 10px;
	margin-right: 5px;
}
.row.txt input[type="text"] {
	height: 22px;
	font-size: 10px;
}
.row.txt select{
	font-size: 10px;
}
/*end of profile page*/

}






