@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button { cursor: pointer; }

input {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.container {
  margin: 0 auto;
  /* max-width:480px; */
}

body {
  font-family: 'Roboto', arial;
  font-size: 14px;
  background-color:#fafafa;
}

.percent { width: 85.71429%; }

.panel-primary { border-color: #009dda; }

input { padding: 6px 12px; }

.top-nav {
  min-width: 1200px;
  background-color: #333333;
  height: 40px;
  line-height: 40px;
  color: #aaa;
  font-size: 12px;
}

.top-nav .nav-box {
  float: left;
  height: 40px;
  line-height: 40px;
}

.top-nav a { margin-left: 10px; }

.top-nav a:hover { color: #fff; }

.med-nav {
  min-width: 1200px;
  background-color: #009dda;
}

.med-nav ul { overflow: hidden; }

.med-nav ul li {
  float: left;
  margin-right: 10px;
}

.med-nav ul li a {
  display: block;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
}

.med-nav ul li a:hover { background-color: #0486b9; }

.med-nav ul li.active > a { background-color: #0486b9; }

/*keep footer always on bottom*/

html, body { height: 100%; }

#container {
  min-height: 100%;
  position: relative;
  max-width:480px;
  margin:0 auto;
}

#body { padding-bottom: 60px;/* Height of the footer */ }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  /* Height of the footer */
  background-color: #333333;
}

/*keep footer always on bottom end*/

.handle-counter { overflow: hidden; }

.handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {
  /* float: left; */
  text-align: center;
}
/* 
.handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }

.handle-counter input {
  width: 50px;
  border-width: 1px;
  border-left: none;
  border-right: none;
}

.btn {
  padding: 6px 12px;
  border: 1px solid transparent;
  color: #fff;
}

.btn:disabled, .btn:disabled:hover {
  background-color: darkgrey;
  cursor: not-allowed;
} */

.btn-primary { background-color: #009dda; }

.btn-primary:hover, .btn-primary:focus { background-color: #0486b9; }

.margin-top { margin-top: 150px; }

.margin-bottom { margin-bottom: 20px; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none; }

.show { display: block; }

.invisible { visibility: hidden; }

a { color: #999; }

a:hover { color: #FF5113; }

.border { border: 1px solid red; }

.handle-counter button,
.handle-counter input{
  display:inline !important;
}
.handle-counter {
  /* display:inline-block !important; */
  /* overflow: hidden; */
  /* margin: auto; */
  width: 118px;
  float: left;

} 
.handle-counter input {
  width: 30%;
  padding: 1px;
}
.handle-counter .counter-minus, .handle-counter .counter-plus {
  width: 30%;
  text-align: center;
}
.handle-counter .counter-minus, .handle-counter .counter-plus, .handle-counter input {
  border-radius: 50%;
}
.handle-counter input {
  border : 1px solid #00C9FF;
}
/*
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
} */
.btn1-primary {
  background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.btn1 {
  padding: 6px 12px;
  border: 1px solid transparent;
  color: #fff;
}
.btn1:disabled, .btn1:disabled:hover {
  background-color: darkgrey !important;
  cursor: not-allowed;
}